In [1]:
import pandas as pd

In [2]:
# Load the datasets
df_pessoas_amostra_100mil_balanceado = pd.read_csv('../Data_balanceado/df_pessoas_amostra_100mil_balanceado.csv', sep=',', dtype={23: 'str'})

In [3]:
df_pessoas_amostra_100mil_balanceado.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,3712211,12,2,40,1,4.0,2.0,1,2,1.0,...,4.0,3.0,2.0,2.0,2.0,NaN,NaN,2.0,NaN,563282046392612
1,2806445,79,2,85,1,4.0,1.0,1,2,1.0,...,4.0,4.0,1.0,2.0,2.0,NaN,NaN,2.0,NaN,563290928045512
2,1040417,90,1,6,3,1.0,2.0,1,2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,563275906954283
3,3562848,92,2,0,3,1.0,1.0,1,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,563262786794011
4,3655265,95,2,64,1,1.0,1.0,1,1,2.0,...,NaN,NaN,NaN,2.0,2.0,NaN,NaN,2.0,NaN,563288835615443

In [4]:
df_pessoas_amostra_100mil_balanceado.shape

(248842, 24)

In [5]:
df_pessoas_amostra_100mil_balanceado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248842 entries, 0 to 248841
Data columns (total 24 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_familia                        248842 non-null  int64
 1   id_pessoa                         248842 non-null  int64
 2   cod_sexo_pessoa                   248842 non-null  int64
 3   idade                             248842 non-null  int64
 4   cod_parentesco_rf_pessoa          248842 non-null  int64
 5   cod_raca_cor_pessoa               248719 non-null  float64
 6   cod_local_nascimento_pessoa       247571 non-null  float64
 7   cod_certidao_registrada_pessoa    248842 non-null  int64
 8   cod_deficiencia_memb              248842 non-null  int64
 9   cod_sabe_ler_escrever_memb        248814 non-null  float64
 10  ind_frequenta_escola_memb         248814 non-null  float64
 11  cod_escola_local_memb             74294 non-null   float64
 12  cod_curso_frequenta_memb          74853 non-null   float64
 13  cod_ano_serie_frequenta_memb      59103 non-null   float64
 14  cod_curso_frequentou_pessoa_memb  139332 non-null  float64
 15  cod_ano_serie_frequentou_memb     131544 non-null  float64
 16  cod_concluiu_frequentou_memb      131548 non-null  float64
 17  cod_trabalhou_memb                178730 non-null  float64
 18  cod_afastado_trab_memb            122647 non-null  float64
 19  cod_agricultura_trab_memb         56085 non-null   float64
 20  cod_principal_trab_memb           57630 non-null   float64
 21  cod_trabalho_12_meses_memb        178700 non-null  float64
 22  qtd_meses_12_meses_memb           60756 non-null   float64
 23  peso.pes                          248842 non-null  object
dtypes: float64(16), int64(7), object(1)
memory usage: 45.6+ MB

In [6]:
# Identificar IDs de pessoa que se repetem
ids_repetidos = df_pessoas_amostra_100mil_balanceado['id_pessoa'][df_pessoas_amostra_100mil_balanceado['id_pessoa'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de pessoa repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de pessoa repetidos.')

NÃ£o existem IDs de pessoa repetidos.

In [7]:
df_pessoas_amostra_100mil_balanceado.describe()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_ano_serie_frequenta_memb,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb
count,2.488420e+05,2.488420e+05,248842.000000,248842.000000,248842.000000,248719.000000,247571.000000,248842.000000,248842.000000,248814.000000,...,59103.000000,139332.000000,131544.000000,131548.000000,178730.000000,122647.000000,56085.000000,57630.000000,178700.000000,60756.000000
mean,2.675291e+06,6.427804e+06,1.566102,30.751308,2.290984,2.944206,1.464663,1.119538,1.927560,1.238829,...,4.343214,6.223093,3.934683,1.483649,1.686214,1.987387,1.803994,2.622766,1.660011,9.476332
std,1.537432e+06,3.714740e+06,0.495612,22.012828,1.521869,1.388067,0.506593,0.324730,0.259215,0.426369,...,2.580545,2.227798,2.039231,0.499734,0.464032,0.111599,0.396977,2.093632,0.473706,3.746794
min,1.050000e+02,5.000000e+00,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.340933e+06,3.206272e+06,1.000000,12.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,...,2.000000,4.000000,3.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,6.000000
50%,2.698621e+06,6.432577e+06,2.000000,27.000000,2.000000,4.000000,1.000000,1.000000,2.000000,1.000000,...,4.000000,5.000000,3.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,12.000000
75%,4.016391e+06,9.648320e+06,2.000000,47.000000,3.000000,4.000000,2.000000,1.000000,2.000000,1.000000,...,6.000000,8.000000,5.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,12.000000
max,5.290533e+06,1.285254e+07,2.000000,116.000000,11.000000,5.000000,3.000000,4.000000,2.000000,2.000000,...,10.000000,15.000000,10.000000,2.000000,2.000000,2.000000,2.000000,11.000000,2.000000,12.000000

In [8]:
# Mostrando os valores nulos de cada coluna do DataFrame
valores_nulos = df_pessoas_amostra_100mil_balanceado.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_raca_cor_pessoa                    123
cod_local_nascimento_pessoa           1271
cod_sabe_ler_escrever_memb              28
ind_frequenta_escola_memb               28
cod_escola_local_memb               174548
cod_curso_frequenta_memb            173989
cod_ano_serie_frequenta_memb        189739
cod_curso_frequentou_pessoa_memb    109510
cod_ano_serie_frequentou_memb       117298
cod_concluiu_frequentou_memb        117294
cod_trabalhou_memb                   70112
cod_afastado_trab_memb              126195
cod_agricultura_trab_memb           192757
cod_principal_trab_memb             191212
cod_trabalho_12_meses_memb           70142
qtd_meses_12_meses_memb             188086
dtype: int64

In [9]:
#como os campos relacionadas Ã  escola que a pessoa frequenta sÃ³ devem ser preenchidos caso
# a pessoa frequente escola, ou seja, tenha respondido 1 - Sim, rede pÃºblica, 2 - Sim, rede particular
# para a variÃ¡vel  ind_frequenta_escola_memb, identificar os campos sem preenchimento ligados a respostas
# diferentes de 1 e 2

# Filtrando os casos em que 'ind_frequenta_escola_memb' seja diferente de 1 ou de 2
filtro = df_pessoas_amostra_100mil_balanceado[
    (df_pessoas_amostra_100mil_balanceado['ind_frequenta_escola_memb'] != 1) &
    (df_pessoas_amostra_100mil_balanceado['ind_frequenta_escola_memb'] != 2)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_escola_local_memb",
    "cod_curso_frequenta_memb",
    "cod_ano_serie_frequenta_memb"
]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores Ãºnicos: {valores_unicos}")
    print("-" * 40)

Coluna: cod_escola_local_memb
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_curso_frequenta_memb
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_ano_serie_frequenta_memb
Valores Ãºnicos: [nan]
----------------------------------------

In [10]:
#Considerando a regra de preenchimento das variÃ¡veis relacionadas Ã  escola que frequenta, que sÃ³ sÃ£o obrigatÃ³rias
# se a variÃ¡vel "ind_frequenta_escola_memb" for respondida como 1 - Sim, rede pÃºblica, 2 - Sim, rede particular,
# quando preenchimento != 1 & != 2 as variÃ¡veis relacionadas Ã  escola que frequenta foram preenchidas
#como -1

import numpy as np

# Lista das colunas a serem preenchidas
cols_to_fill = ["cod_escola_local_memb",
    "cod_curso_frequenta_memb",
    "cod_ano_serie_frequenta_memb"
]

# CondiÃ§Ã£o: "ind_frequenta_escola_memb" diferente de 1 e de 2
cond = (df_pessoas_amostra_100mil_balanceado['ind_frequenta_escola_memb'] != 1) & \
    (df_pessoas_amostra_100mil_balanceado['ind_frequenta_escola_memb'] != 2)

# Preenchendo os valores NaN com -1 nas colunas especificadas quando a condiÃ§Ã£o for atendida
df_pessoas_amostra_100mil_balanceado.loc[cond, cols_to_fill] = df_pessoas_amostra_100mil_balanceado.loc[cond, cols_to_fill].fillna(-1)

# Verificar se os valores foram preenchidos corretamente
print(df_pessoas_amostra_100mil_balanceado[cols_to_fill].isna().sum())  # Verifica a ausÃªncia de valores nulos

cod_escola_local_memb             568
cod_curso_frequenta_memb            9
cod_ano_serie_frequenta_memb    15759
dtype: int64

In [11]:
#Como o campo cod_ano_serie_frequenta_memb (ano e sÃ©rie que a pessoa frequente) sÃ³ deve
# ser preenchido se pessoa frequenta algum dos cursos  4 - Ensino Fundamental regular (duraÃ§Ã£o 8 anos),
# 5 - Ensino Fundamental regular (duraÃ§Ã£o 9 anos), 6 - Ensino Fundamental especial,
# 7 - Ensino MÃ©dio regular ou 8 - Ensino MÃ©dio especial da pergunta cod_curso_frequenta_memb
# (curso que a pessoa frequenta), avaliar os casos de NaN do campo cod_ano_serie_frequenta_memb
# quando o campo cod_ano_serie_frequenta_memb Ã© Nan.

# Filtrando os casos onde 'cod_ano_serie_frequenta_memb' Ã© NaN
filtro_nan = df_pessoas_amostra_100mil_balanceado['cod_ano_serie_frequenta_memb'].isna()

# Contando os valores de 'cod_curso_frequenta_memb' para os casos onde 'cod_ano_serie_frequenta_memb' Ã© NaN
tipos_resposta = df_pessoas_amostra_100mil_balanceado.loc[filtro_nan, 'cod_curso_frequenta_memb'].value_counts()

# Ordenando os resultados pelos Ã­ndices (os prÃ³prios valores de 'cod_curso_frequenta_memb')
tipos_resposta = tipos_resposta.sort_index()

# Exibindo os tipos de resposta e suas quantidades
print("Tipos de respostas e suas quantidades para 'cod_curso_frequenta_memb' quando 'cod_ano_serie_frequenta_memb' Ã© NaN:")
print(tipos_resposta)

Tipos de respostas e suas quantidades para 'cod_curso_frequenta_memb' quando 'cod_ano_serie_frequenta_memb' Ã© NaN:
cod_curso_frequenta_memb
1.0     4549
2.0     5402
3.0     1327
9.0      242
10.0    1054
11.0     751
12.0      25
13.0    2386
14.0      14
Name: count, dtype: int64

In [12]:
#Considerando que todos os casos de Nan do campo cod_ano_serie_frequenta_memb se referem
# aos casos em que nÃ£o Ã© obrigatÃ³ria a resposta, ou seja, diferente de 4, 5, 6, 7 ou 8,
# os valores NaN serÃ£o substituÃ­dos por -1

# Substituindo valores NaN na coluna 'cod_ano_serie_frequenta_memb' por -1
df_pessoas_amostra_100mil_balanceado['cod_ano_serie_frequenta_memb'].fillna(-1, inplace=True)

# Contando os valores da coluna 'cod_ano_serie_frequenta_memb' apÃ³s a substituiÃ§Ã£o
respostas_quantidade_depois = df_pessoas_amostra_100mil_balanceado['cod_ano_serie_frequenta_memb'].value_counts()

# Exibindo todas as respostas possÃ­veis e a quantidade de cada uma apÃ³s a substituiÃ§Ã£o
print("\nQuantidade de cada resposta na coluna 'cod_ano_serie_frequenta_memb' apÃ³s a substituiÃ§Ã£o de NaN por -1:")

Quantidade de cada resposta na coluna 'cod_ano_serie_frequenta_memb' apÃ³s a substituiÃ§Ã£o de NaN por -1:

In [13]:
#como o preenchimento do campo 'cod_curso_frequentou_pessoa_memb'
# (Curso mais elevado que a pessoa frequentou) sÃ³ Ã© obrigatÃ³rio quando
# o campo 'ind_frequenta_escola_memb' (Pessoa frequenta escola?) for respondido como
# "3 - NÃ£o, jÃ¡ frequentou", avaliar as respostas de 'cod_curso_frequentou_pessoa_memb'
# quando 'ind_frequenta_escola_memb' for diferente de 3

# Filtrando os casos em que 'ind_frequenta_escola_memb' seja diferente de 3
filtro = df_pessoas_amostra_100mil_balanceado[(df_pessoas_amostra_100mil_balanceado['ind_frequenta_escola_memb'] != 3)]

# Lista da coluna a exibir os resultados
coluna_interesse = ['cod_curso_frequentou_pessoa_memb']

# Exibe o valor Ãºnico de cada coluna filtrada
for coluna in coluna_interesse:
    valores_unicos = filtro[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores Ãºnicos: {valores_unicos}")

Coluna: cod_curso_frequentou_pessoa_memb
Valores Ãºnicos: [nan]

In [14]:
#Considerando a regra de preenchimento das variÃ¡veis relacionadas ao curso que frequentou, que sÃ³ Ã© obrigatÃ³rio
# se a variÃ¡vel "ind_frequenta_escola_memb" for respondida como "3 - NÃ£o, jÃ¡ frequentou",
# quando preenchimento != 3 a variÃ¡vel relacionada ao curso que frequentou foi preenchida como -1

# Lista da coluna a ser preenchida
col_to_fill = ["cod_curso_frequentou_pessoa_memb"]

# CondiÃ§Ã£o: "ind_frequenta_escola_memb" diferente de 3
cond = (df_pessoas_amostra_100mil_balanceado['ind_frequenta_escola_memb'] != 3)

# Preenchendo os valores NaN com -1 na coluna especificada quando a condiÃ§Ã£o for atendida
df_pessoas_amostra_100mil_balanceado.loc[cond, col_to_fill] = df_pessoas_amostra_100mil_balanceado.loc[cond, col_to_fill].fillna(-1)

In [15]:
# Contando a frequÃªncia de cada valor Ãºnico na coluna 'cod_curso_frequentou_pessoa_memb', incluindo NaN
frequencia_respostas = df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'].value_counts(dropna=False)

# Ordenando os resultados pelos Ã­ndices (os prÃ³prios valores de 'cod_curso_frequentou_pessoa_memb')
frequencia_respostas = frequencia_respostas.sort_index()

# Exibindo os valores Ãºnicos e suas frequÃªncias
print("FrequÃªncia de cada resposta na coluna 'cod_curso_frequentou_pessoa_memb', ordenada pelos valores:")
print(frequencia_respostas)

FrequÃªncia de cada resposta na coluna 'cod_curso_frequentou_pessoa_memb', ordenada pelos valores:
cod_curso_frequentou_pessoa_memb
-1.0     109495
 1.0         81
 2.0        116
 3.0       1104
 4.0      39574
 5.0      33319
 6.0       5897
 7.0        669
 8.0      51058
 9.0       1028
 10.0       568
 11.0       954
 12.0       598
 13.0      3893
 14.0       275
 15.0       198
 NaN         15
Name: count, dtype: int64

In [16]:
#como os campos cod_ano_serie_frequentou_memb e cod_concluiu_frequentou_memb sÃ³ devem ser preenchidos caso
# a pessoa frequentou algum dos cursos 4 - Ensino Fundamental 1Âª a 4Âª sÃ©ries, Elementar (PrimÃ¡rio), Primeira fase do 1Âº grau,
# 5 - Ensino Fundamental 5Âª a 8Âª sÃ©ries, MÃ©dio 1Âº ciclo (Ginasial), Segunda fase do 1Âº grau,
# 6 - Ensino Fundamental (duraÃ§Ã£o 9 anos), 7 - Ensino Fundamental Especial,
# 8 - Ensino MÃ©dio, 2Âº grau, MÃ©dio 2Âº ciclo (CientÃ­fico, ClÃ¡ssico, TÃ©cnico, Normal),
# 9 - Ensino MÃ©dio Especial na questÃ£o anterior (cod_curso_frequentou_pessoa_memb),
# identificar os campos sem preenchimento ligados a respostas do campo anterior:

# Filtrando os casos em que 'cod_curso_frequentou_pessoa_memb' seja diferente de 4, 5, 6, 7, 8 ou 9
filtro = df_pessoas_amostra_100mil_balanceado[
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 4) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 5) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 6) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 7) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 8) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 9)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_ano_serie_frequentou_memb",
    "cod_concluiu_frequentou_memb"
]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"FrequÃªncia de valores Ãºnicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_ano_serie_frequentou_memb
FrequÃªncia de valores Ãºnicos:
cod_ano_serie_frequentou_memb
NaN    117294
1.0         2
3.0         1
Name: count, dtype: int64
----------------------------------------
Coluna: cod_concluiu_frequentou_memb
FrequÃªncia de valores Ãºnicos:
cod_concluiu_frequentou_memb
NaN    117294
2.0         2
1.0         1
Name: count, dtype: int64
----------------------------------------

In [17]:
# Lista das colunas que queremos substituir os valores NaN por -1
colunas_para_substituir = ["cod_ano_serie_frequentou_memb", "cod_concluiu_frequentou_memb"]

# Definindo a condiÃ§Ã£o para quando 'cod_curso_frequentou_pessoa_memb' nÃ£o for 4, 5, 6, 7, 8 ou 9
condicao = (
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 4) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 5) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 6) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 7) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 8) &
    (df_pessoas_amostra_100mil_balanceado['cod_curso_frequentou_pessoa_memb'] != 9)
)

# Substituindo os valores NaN por -1 nas colunas especificadas quando a condiÃ§Ã£o Ã© atendida
df_pessoas_amostra_100mil_balanceado.loc[condicao, colunas_para_substituir] = df_pessoas_amostra_100mil_balanceado.loc[condicao, colunas_para_substituir].fillna(-1)

# Verificando se os valores foram preenchidos corretamente
print("Valores substituÃ­dos nas colunas:")
for coluna in colunas_para_substituir:
    print(f"{coluna} - Valores Ãºnicos: {df_pessoas_amostra_100mil_balanceado[coluna].unique()}")

Valores substituÃ­dos nas colunas:
cod_ano_serie_frequentou_memb - Valores Ãºnicos: [ 3.  4. -1.  8.  2.  1.  5.  7.  9.  6. 10. nan]
cod_concluiu_frequentou_memb - Valores Ãºnicos: [ 2.  1. -1.]

In [18]:
# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_pessoas_amostra_100mil_balanceado.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_raca_cor_pessoa                    123
cod_local_nascimento_pessoa           1271
cod_sabe_ler_escrever_memb              28
ind_frequenta_escola_memb               28
cod_escola_local_memb                  568
cod_curso_frequenta_memb                 9
cod_curso_frequentou_pessoa_memb        15
cod_ano_serie_frequentou_memb            4
cod_trabalhou_memb                   70112
cod_afastado_trab_memb              126195
cod_agricultura_trab_memb           192757
cod_principal_trab_memb             191212
cod_trabalho_12_meses_memb           70142
qtd_meses_12_meses_memb             188086
dtype: int64

In [19]:
#Os campos de trabalho sÃ³ devem ser respondidos quando idade for maior ou igual a 14 anos. Desta forma, avaliar
# o preenchimento dos campos "cod_trabalhou_memb", "cod_afastado_trab_memb", "cod_agricultura_trab_memb",
# "cod_principal_trab_memb", "cod_trabalho_12_meses_memb", "qtd_meses_12_meses_memb", "categoria_qtd_meses" com idade
# menor que 14 anos

# Filtrando os casos em que 'idade' seja < 14
filtro = (df_pessoas_amostra_100mil_balanceado['idade'] < 14)

# Lista das colunas que queremos exibir os resultados
colunas_interesse = [
    "cod_trabalhou_memb",
    "cod_afastado_trab_memb",
    "cod_agricultura_trab_memb",
    "cod_principal_trab_memb",
    "cod_trabalho_12_meses_memb",
    "qtd_meses_12_meses_memb",
]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    # Filtrando o DataFrame pelas linhas onde 'idade' < 14 e obtendo as contagens de valores
    valores_unicos = df_pessoas_amostra_100mil_balanceado.loc[filtro, coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"FrequÃªncia de valores Ãºnicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_trabalhou_memb
FrequÃªncia de valores Ãºnicos:
cod_trabalhou_memb
NaN    69486
Name: count, dtype: int64
----------------------------------------
Coluna: cod_afastado_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_afastado_trab_memb
NaN    69486
Name: count, dtype: int64
----------------------------------------
Coluna: cod_agricultura_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_agricultura_trab_memb
NaN    69486
Name: count, dtype: int64
----------------------------------------
Coluna: cod_principal_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_principal_trab_memb
NaN    69486
Name: count, dtype: int64
----------------------------------------
Coluna: cod_trabalho_12_meses_memb
FrequÃªncia de valores Ãºnicos:
cod_trabalho_12_meses_memb
NaN    69486
Name: count, dtype: int64
----------------------------------------
Coluna: qtd_meses_12_meses_memb
FrequÃªncia de valores Ãºnicos:
qtd_meses_12_meses_memb
NaN    69486
Name: count, dtype: int64
----------------------------------------

In [20]:
#Substituir todos os valores nan por -1 das colunas avaliadas quando idade <14

# Filtrando os casos em que 'idade' seja < 14
filtro = (df_pessoas_amostra_100mil_balanceado['idade'] < 14)

# Lista das colunas nas quais queremos substituir os NaN
colunas_interesse = [
    "cod_trabalhou_memb",
    "cod_afastado_trab_memb",
    "cod_agricultura_trab_memb",
    "cod_principal_trab_memb",
    "cod_trabalho_12_meses_memb",
    "qtd_meses_12_meses_memb"]

# Substituindo os valores NaN por -1 nas colunas de interesse quando a condiÃ§Ã£o do filtro Ã© verdadeira
df_pessoas_amostra_100mil_balanceado.loc[filtro, colunas_interesse] = df_pessoas_amostra_100mil_balanceado.loc[filtro, colunas_interesse].fillna(-1)

# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_pessoas_amostra_100mil_balanceado.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_raca_cor_pessoa                    123
cod_local_nascimento_pessoa           1271
cod_sabe_ler_escrever_memb              28
ind_frequenta_escola_memb               28
cod_escola_local_memb                  568
cod_curso_frequenta_memb                 9
cod_curso_frequentou_pessoa_memb        15
cod_ano_serie_frequentou_memb            4
cod_trabalhou_memb                     626
cod_afastado_trab_memb               56709
cod_agricultura_trab_memb           123271
cod_principal_trab_memb             121726
cod_trabalho_12_meses_memb             656
qtd_meses_12_meses_memb             118600
dtype: int64

In [21]:
# O campo 'cod_afastado_trab_memb' sÃ³ deve ser respondido se 'cod_trabalhou_memb'
# (Pessoa trabalhou na semana passada?) for respondido como 2 - NÃ£o)

# Filtrando os casos em que 'cod_trabalhou_memb' seja diferente de 2
filtro = df_pessoas_amostra_100mil_balanceado[(df_pessoas_amostra_100mil_balanceado['cod_trabalhou_memb'] != 2)]

# Lista da coluna a exibir os resultados
coluna_interesse = 'cod_afastado_trab_memb'

# Contando os valores, incluindo NaN
valores_contagem = filtro[coluna_interesse].value_counts(dropna=False)  # dropna=False inclui NaN

# Exibindo o resultado
print(f"FrequÃªncia de valores para '{coluna_interesse}' quando 'cod_trabalhou_memb' nÃ£o Ã© 2:")
print(valores_contagem)

FrequÃªncia de valores para 'cod_afastado_trab_memb' quando 'cod_trabalhou_memb' nÃ£o Ã© 2:
cod_afastado_trab_memb
-1.0    69486
 NaN    56709
Name: count, dtype: int64

In [22]:
# Substituir os valores NaN de 'cod_afastado_trab_memb' por -1 quando 'cod_trabalhou_memb' Ã© diferente de 2

# Lista da coluna a ser preenchida
col_to_fill = ["cod_afastado_trab_memb"]

# CondiÃ§Ã£o: "ind_frequenta_escola_memb" diferente de 3
cond = (df_pessoas_amostra_100mil_balanceado['cod_trabalhou_memb'] != 2)

# Preenchendo os valores NaN com -1 na coluna especificada quando a condiÃ§Ã£o for atendida
df_pessoas_amostra_100mil_balanceado.loc[cond, col_to_fill] = df_pessoas_amostra_100mil_balanceado.loc[cond, col_to_fill].fillna(-1)

In [23]:
# O campo cod_agricultura_trab_memb (Ã‰ atividade extrativista? 1 - Sim e 2 - NÃ£o) e o campo
# cod_principal_trab_memb sÃ³ sÃ£o obrigatÃ³rios se a pessoa respondeu 1 - Sim no campo
# cod_trabalhou_memb (Pessoa trabalhou na semana passada?)
# ou cod_afastado_trab_memb (Pessoa afastada na semana passada?).

# Filtrando os casos em que campo 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' seja diferente de 1
filtro = df_pessoas_amostra_100mil_balanceado[
    (df_pessoas_amostra_100mil_balanceado['cod_trabalhou_memb'] != 1) &
    (df_pessoas_amostra_100mil_balanceado['cod_afastado_trab_memb'] != 1)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_agricultura_trab_memb",
"cod_principal_trab_memb"]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"FrequÃªncia de valores Ãºnicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_agricultura_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_agricultura_trab_memb
 NaN    121724
-1.0     69486
 1.0         2
Name: count, dtype: int64
----------------------------------------
Coluna: cod_principal_trab_memb
FrequÃªncia de valores Ãºnicos:
cod_principal_trab_memb
 NaN    121726
-1.0     69486
Name: count, dtype: int64
----------------------------------------

In [24]:
#Substituindo por -1 os valores NaN de "cod_agricultura_trab_memb" e "cod_principal_trab_memb"
# quando 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' Ã© diferente de 1

# Definindo o filtro para casos onde 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' sÃ£o diferentes de 1
filtro = (df_pessoas_amostra_100mil_balanceado['cod_trabalhou_memb'] != 1) & (df_pessoas_amostra_100mil_balanceado['cod_afastado_trab_memb'] != 1)

# Substituindo os valores NaN das colunas 'cod_agricultura_trab_memb' e 'cod_principal_trab_memb' por -1 onde o filtro Ã© verdadeiro
df_pessoas_amostra_100mil_balanceado.loc[filtro, 'cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil_balanceado.loc[filtro, 'cod_agricultura_trab_memb'].fillna(-1)
df_pessoas_amostra_100mil_balanceado.loc[filtro, 'cod_principal_trab_memb'] = df_pessoas_amostra_100mil_balanceado.loc[filtro, 'cod_principal_trab_memb'].fillna(-1)

# Exibindo os valores Ãºnicos de cada coluna apÃ³s a substituiÃ§Ã£o
valores_unicos_agricultura = df_pessoas_amostra_100mil_balanceado['cod_agricultura_trab_memb'].value_counts(dropna=False)
valores_unicos_principal = df_pessoas_amostra_100mil_balanceado['cod_principal_trab_memb'].value_counts(dropna=False)

print("FrequÃªncia de valores Ãºnicos na coluna 'cod_agricultura_trab_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:")
print(valores_unicos_agricultura)
print("\nFrequÃªncia de valores Ãºnicos na coluna 'cod_principal_trab_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:")
print(valores_unicos_principal)

FrequÃªncia de valores Ãºnicos na coluna 'cod_agricultura_trab_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:
cod_agricultura_trab_memb
-1.0    191210
 2.0     45092
 1.0     10993
 NaN      1547
Name: count, dtype: int64

FrequÃªncia de valores Ãºnicos na coluna 'cod_principal_trab_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:
cod_principal_trab_memb
-1.0     191212
 1.0      28821
 4.0      15403
 2.0       5245
 8.0       2439
 3.0       2192
 7.0       1133
 5.0        952
 6.0        804
 10.0       319
 11.0       268
 9.0         54
Name: count, dtype: int64

In [25]:
# Filtrando os casos onde 'cod_agricultura_trab_memb' Ã© igual a NaN
filtro_cod_especie = df_pessoas_amostra_100mil_balanceado['cod_agricultura_trab_memb'].isna()

# Contando os valores da coluna 'cod_principal_trab_memb' apenas para o filtro aplicado
resultados_quantidade = df_pessoas_amostra_100mil_balanceado.loc[filtro_cod_especie, 'cod_principal_trab_memb'].value_counts(dropna=False)

# Ordenando os resultados em ordem crescente dos Ã­ndices (valores Ãºnicos)
resultados_quantidade = resultados_quantidade.sort_index()

# Exibindo os resultados ordenados
print("Resultados possÃ­veis e quantidade de cada resposta em 'cod_principal_trab_memb' quando 'cod_agricultura_trab_memb' Ã© NaN:")
print(resultados_quantidade)

Resultados possÃ­veis e quantidade de cada resposta em 'cod_principal_trab_memb' quando 'cod_agricultura_trab_memb' Ã© NaN:
cod_principal_trab_memb
1.0     605
2.0     280
3.0      39
4.0     472
5.0      14
6.0      26
7.0      57
8.0      47
10.0      3
11.0      4
Name: count, dtype: int64

In [26]:
# Considerando que a resposta de 'cod_principal_trab_memb' == 2 significa Trabalhador temporÃ¡rio em Ã¡rea rural
# Os casos de NaN para 'cod_agricultura_trab_memb' quando 'cod_principal_trab_memb' == 2 serÃ£o alterados
# para 1 - Sim. Os demais casos serÃ£o substituÃ­dos por 9 - Desconhecido.

# Definindo o filtro para casos onde 'cod_principal_trab_memb' Ã© igual a 2
filtro = df_pessoas_amostra_100mil_balanceado['cod_principal_trab_memb'] == 2

# Substituindo os valores NaN da coluna 'cod_agricultura_trab_memb' por 1 onde o filtro Ã© verdadeiro
df_pessoas_amostra_100mil_balanceado.loc[filtro, 'cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil_balanceado.loc[filtro, 'cod_agricultura_trab_memb'].fillna(1)

# Substituindo os valores NaN restantes por 9 nos casos onde o filtro Ã© falso
df_pessoas_amostra_100mil_balanceado['cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil_balanceado['cod_agricultura_trab_memb'].fillna(9)

# Exibindo os valores Ãºnicos da coluna apÃ³s a substituiÃ§Ã£o
valores_unicos_agricultura = df_pessoas_amostra_100mil_balanceado['cod_agricultura_trab_memb'].value_counts(dropna=False)

print("FrequÃªncia de valores Ãºnicos na coluna 'cod_agricultura_trab_memb' apÃ³s substituiÃ§Ã£o de NaN:")
print(valores_unicos_agricultura)

FrequÃªncia de valores Ãºnicos na coluna 'cod_agricultura_trab_memb' apÃ³s substituiÃ§Ã£o de NaN:
cod_agricultura_trab_memb
-1.0    191210
 2.0     45092
 1.0     11273
 9.0      1267
Name: count, dtype: int64

In [27]:
# O campo qtd_meses_12_meses_memb (Quantidade de meses trabalhados nos Ãºltimos 12 meses)
# sÃ³ Ã© obrigatÃ³rio se a pessoa tiver respondido 1 - Sim  no campo cod_trabalho_12_meses_memb
#(Pessoa com trabalho remunerado em algum perÃ­odo nos Ãºltimo 12 meses)

# Filtrando os casos em que campo 'cod_trabalho_12_meses_memb' seja diferente de 1
filtro = df_pessoas_amostra_100mil_balanceado[
    (df_pessoas_amostra_100mil_balanceado['cod_trabalho_12_meses_memb'] != 1)
]

# Lista da coluna que queremos exibir os resultados
coluna_interesse = ["qtd_meses_12_meses_memb"]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in coluna_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"FrequÃªncia de valores Ãºnicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: qtd_meses_12_meses_memb
FrequÃªncia de valores Ãºnicos:
qtd_meses_12_meses_memb
 NaN    118600
-1.0     69486
Name: count, dtype: int64
----------------------------------------

In [28]:
#Substituindo por -1 os valores NaN de "qtd_meses_12_meses_memb"
# quando 'cod_trabalho_12_meses_memb' Ã© diferente de 1

# Definindo o filtro para casos onde 'cod_trabalho_12_meses_memb' Ã© diferente de 1
filtro = (df_pessoas_amostra_100mil_balanceado['cod_trabalho_12_meses_memb'] != 1)

# Substituindo os valores NaN da coluna 'qtd_meses_12_meses_memb' por -1 onde o filtro Ã© verdadeiro
df_pessoas_amostra_100mil_balanceado.loc[filtro, 'qtd_meses_12_meses_memb'] = df_pessoas_amostra_100mil_balanceado.loc[filtro, 'qtd_meses_12_meses_memb'].fillna(-1)


# Exibindo os valores Ãºnicos da coluna apÃ³s a substituiÃ§Ã£o
valores_unicos_meses = df_pessoas_amostra_100mil_balanceado['qtd_meses_12_meses_memb'].value_counts(dropna=False)


print("FrequÃªncia de valores Ãºnicos na coluna 'qtd_meses_12_meses_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:")
print(valores_unicos_meses)

FrequÃªncia de valores Ãºnicos na coluna 'qtd_meses_12_meses_memb' apÃ³s substituiÃ§Ã£o de NaN por -1:
qtd_meses_12_meses_memb
-1.0     188086
 12.0     37389
 10.0      3452
 6.0       3028
 1.0       2851
 2.0       2644
 3.0       2635
 5.0       2131
 4.0       1941
 8.0       1630
 7.0       1197
 9.0        966
 11.0       892
Name: count, dtype: int64

In [29]:
# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_pessoas_amostra_100mil_balanceado.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_raca_cor_pessoa                  123
cod_local_nascimento_pessoa         1271
cod_sabe_ler_escrever_memb            28
ind_frequenta_escola_memb             28
cod_escola_local_memb                568
cod_curso_frequenta_memb               9
cod_curso_frequentou_pessoa_memb      15
cod_ano_serie_frequentou_memb          4
cod_trabalhou_memb                   626
cod_trabalho_12_meses_memb           656
dtype: int64

In [30]:
# Calculando o percentual de valores NaN em cada coluna
percentual_nan = df_pessoas_amostra_100mil_balanceado.isna().mean() * 100

# Exibindo o percentual de valores NaN por coluna
print("Percentual de valores NaN em cada coluna do df_pessoas_amostra_100mil:")
print(percentual_nan)

Percentual de valores NaN em cada coluna do df_pessoas_amostra_100mil:
id_familia                          0.000000
id_pessoa                           0.000000
cod_sexo_pessoa                     0.000000
idade                               0.000000
cod_parentesco_rf_pessoa            0.000000
cod_raca_cor_pessoa                 0.049429
cod_local_nascimento_pessoa         0.510766
cod_certidao_registrada_pessoa      0.000000
cod_deficiencia_memb                0.000000
cod_sabe_ler_escrever_memb          0.011252
ind_frequenta_escola_memb           0.011252
cod_escola_local_memb               0.228257
cod_curso_frequenta_memb            0.003617
cod_ano_serie_frequenta_memb        0.000000
cod_curso_frequentou_pessoa_memb    0.006028
cod_ano_serie_frequentou_memb       0.001607
cod_concluiu_frequentou_memb        0.000000
cod_trabalhou_memb                  0.251565
cod_afastado_trab_memb              0.000000
cod_agricultura_trab_memb           0.000000
cod_principal_trab_memb             0.000000
cod_trabalho_12_meses_memb          0.263621
qtd_meses_12_meses_memb             0.000000
peso.pes                            0.000000
dtype: float64

In [31]:
df_pessoas_amostra_100mil_balanceado.shape

(248842, 24)

In [32]:
# Considernado que as linhas com valores NaN remanescentes nÃ£o foram associadas a nenhuma 
# regra de preenchimento do cadastro Ãºnico e que sÃ£o pouco representativas no universo da 
# amostra, optpu-se por excluir os valores NaN remanescentes da base de famÃ­lias

# Excluir todas as linhas com algum valor NaN
df_pessoas_amostra_100mil_limpa_balanceado = df_pessoas_amostra_100mil_balanceado.dropna()

# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_pessoas_amostra_100mil_limpa_balanceado.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
Series([], dtype: int64)

In [33]:
df_pessoas_amostra_100mil_limpa_balanceado.shape

(246192, 24)

In [34]:
# Identificar IDs de pessoa que se repetem
ids_repetidos = df_pessoas_amostra_100mil_limpa_balanceado['id_pessoa'][df_pessoas_amostra_100mil_limpa_balanceado['id_pessoa'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de pessoa repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de pessoa repetidos.')

NÃ£o existem IDs de pessoa repetidos.

In [35]:
# Load the datasets familia
df_fam_amostra_100mil_limpa_balanceado = pd.read_csv('../Data_balanceado/df_fam_amostra_100mil_limpa_balanceado.csv')

In [36]:
#juntando as duas bases
# Realizar o merge das duas bases usando a chave 'id_familia'
df_fam_pessoas_amostra_100mil_limpa_balanceado = pd.merge(df_fam_amostra_100mil_limpa_balanceado, df_pessoas_amostra_100mil_limpa_balanceado, 
                     on='id_familia', 
                     how='inner')

In [37]:
df_fam_pessoas_amostra_100mil_limpa_balanceado.shape

(246052, 51)

In [38]:
df_fam_pessoas_amostra_100mil_limpa_balanceado.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,3526407,35,3,1,3,1100708,0.0,1.0,1.0,4.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563275906954283
1,3526407,35,3,1,3,1100708,0.0,1.0,1.0,4.0,...,8.0,1.0,2.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563275906954283
2,1501402,15,1,2,1,4736936,40.0,1.0,1.0,2.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277363244442
3,1501402,15,1,2,1,4736936,40.0,1.0,1.0,2.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277363244442
4,1501402,15,1,2,1,4736936,40.0,1.0,1.0,2.0,...,-1.0,-1.0,-1.0,1.0,-1.0,2.0,1.0,1.0,9.0,563277363244442

In [39]:
df_fam_pessoas_amostra_100mil_limpa_balanceado.columns

Index(['cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf', 'id_familia',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'qtde_pessoas',
       'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda',
       'id_pessoa', 'cod_sexo_pessoa', 'idade', 'cod_parentesco_rf_pessoa',
       'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 'cod_deficiencia_memb',
       'cod_sabe_ler_escrever_memb', 'ind_frequenta_escola_memb',
       'cod_escola_local_memb', 'cod_curso_frequenta_memb',
       'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
       'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
       'cod_trabalhou_memb', 'cod_afastado_trab_memb',
       'cod_agricultura_trab_memb', 'cod_principal_trab_memb',
       'cod_trabalho_12_meses_memb', 'qtd_meses_12_meses_memb', 'peso.pes'],
      dtype='object')

In [40]:
# Avaliando se alguma famÃ­lia ficou com o nÃºmero de pessoas menor do que o previsto no campo qtd_pessoas

# 1. Contar o nÃºmero de IDs de pessoas diferentes para cada 'id_familia'
contagem_pessoas = df_fam_pessoas_amostra_100mil_limpa_balanceado.groupby('id_familia')['id_pessoa'].nunique().reset_index()

# Renomear a coluna para algo mais descritivo
contagem_pessoas.rename(columns={'id_pessoa': 'num_id_pessoas'}, inplace=True)

# 2. Juntar os dados da contagem com o dataframe original
# Supondo que 'qtde_pessoas' esteja no mesmo dataframe e corresponda ao 'id_familia'
resultado_comparacao = pd.merge(contagem_pessoas, df_fam_pessoas_amostra_100mil_limpa_balanceado[['id_familia', 'qtde_pessoas']],
                                 on='id_familia', how='left')

# 3. Comparar os valores
resultado_comparacao['diferenca'] = resultado_comparacao['qtde_pessoas'] - resultado_comparacao['num_id_pessoas']

# Exibir os resultados
print(resultado_comparacao[['id_familia', 'qtde_pessoas', 'num_id_pessoas', 'diferenca']].head(10))

# Opcional: Analisar quantas famÃ­lias tÃªm diferenÃ§a nos nÃºmeros
familias_com_diferenca = resultado_comparacao[resultado_comparacao['diferenca'] != 0]
print(f"NÃºmero de famÃ­lias com diferenÃ§a: {len(familias_com_diferenca)}")

   id_familia  qtde_pessoas  num_id_pessoas  diferenca
0         105             1               1          0
1         114             1               1          0
2         135             3               3          0
3         135             3               3          0
4         135             3               3          0
5         208             5               5          0
6         208             5               5          0
7         208             5               5          0
8         208             5               5          0
9         208             5               5          0
NÃºmero de famÃ­lias com diferenÃ§a: 7650

In [41]:
# 1. Identificar as id_familia com diferenÃ§a > 0
id_familias_com_diferenca = resultado_comparacao[resultado_comparacao['diferenca'] > 0]['id_familia']

# 2. Excluir essas id_familia do dataframe original
df_fam_pessoas_amostra_100mil_limpa_balanceado = df_fam_pessoas_amostra_100mil_limpa_balanceado[~df_fam_pessoas_amostra_100mil_limpa_balanceado['id_familia'].isin(id_familias_com_diferenca)]

# 3. Exibir o nÃºmero de linhas restantes apÃ³s a exclusÃ£o
numero_linhas_restantes = df_fam_pessoas_amostra_100mil_limpa_balanceado.shape[0]
print(f"NÃºmero de linhas restantes apÃ³s excluir famÃ­lias com diferenÃ§a > 0: {numero_linhas_restantes}")

NÃºmero de linhas restantes apÃ³s excluir famÃ­lias com diferenÃ§a > 0: 238402

In [42]:
df_fam_pessoas_amostra_100mil_limpa_balanceado.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
2,1501402,15,1,2,1,4736936,40.0,1.0,1.0,2.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277363244442
3,1501402,15,1,2,1,4736936,40.0,1.0,1.0,2.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277363244442
4,1501402,15,1,2,1,4736936,40.0,1.0,1.0,2.0,...,-1.0,-1.0,-1.0,1.0,-1.0,2.0,1.0,1.0,9.0,563277363244442
5,1304062,13,1,2,3,2562870,119.0,1.0,1.0,4.0,...,12.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563289238376948
6,1304062,13,1,2,3,2562870,119.0,1.0,1.0,4.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563289238376948

In [43]:
df_fam_pessoas_amostra_100mil_limpa_balanceado.shape

(238402, 51)

In [44]:
# Identificar IDs de pessoa que se repetem
ids_repetidos = df_fam_pessoas_amostra_100mil_limpa_balanceado['id_pessoa'][df_fam_pessoas_amostra_100mil_limpa_balanceado['id_pessoa'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de pessoa repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de pessoa repetidos.')

NÃ£o existem IDs de pessoa repetidos.

In [45]:
# 1. Listar as colunas que queremos manter de cada dataframe original
colunas_pessoas = df_pessoas_amostra_100mil_limpa_balanceado.columns.tolist()
colunas_familia = df_fam_amostra_100mil_limpa_balanceado.columns.tolist()

# 2. Criar um dataframe para as pessoas a partir da base limpa, mantendo apenas as colunas desejadas
df_pessoas_final_balanceado = df_fam_pessoas_amostra_100mil_limpa_balanceado[colunas_pessoas]

# 3. Criar um dataframe para as famÃ­lias, mantendo apenas as colunas desejadas e removendo duplicatas
df_familia_final_balanceado = df_fam_pessoas_amostra_100mil_limpa_balanceado[colunas_familia].drop_duplicates(subset='id_familia')

# 4. Verifique os shapes
print("Shape das pessoas:", df_pessoas_final_balanceado.shape)
print("Shape das famÃ­lias:", df_familia_final_balanceado.shape)

Shape das pessoas: (238402, 24)
Shape das famÃ­lias: (96792, 28)

In [46]:
 df_fam_amostra_100mil_limpa_balanceado.shape

(99950, 28)

In [47]:
df_pessoas_final_balanceado.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
2,4736936,368407,1,17,3,4.0,2.0,1,2,1.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277363244442
3,4736936,6711807,2,15,3,4.0,2.0,1,2,1.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277363244442
4,4736936,9879138,2,44,1,4.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,1.0,-1.0,2.0,1.0,1.0,9.0,563277363244442
5,2562870,1032042,2,38,1,4.0,1.0,1,2,1.0,...,12.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563289238376948
6,2562870,4996944,1,5,3,4.0,1.0,1,1,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563289238376948

In [48]:
df_familia_final_balanceado.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
2,1501402,15,1,2,1,4736936,40.0,1.0,1.0,2.0,...,1.0,3.0,2.0,2.0,0.0,3,550249924045052,3290.0,510,0
5,1304062,13,1,2,3,2562870,119.0,1.0,1.0,4.0,...,1.0,1.0,2.0,2.0,0.0,8,550341300174477,1774.0,101,0
13,2927507,29,2,2,3,1843654,100.0,2.0,1.0,4.0,...,1.0,3.0,2.0,2.0,205.0,2,550080537274825,1966.0,598,0
15,2804607,28,2,2,3,1946851,60.0,2.0,1.0,5.0,...,1.0,3.0,2.0,2.0,0.0,2,550397469252923,812.0,285,0
17,3301009,33,3,2,3,4194650,44.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,3,550237185178733,5772.0,591,0

In [49]:
df_familia_final_balanceado.shape

(96792, 28)

In [50]:
# Identificar IDs de familia que se repetem
ids_repetidos = df_familia_final_balanceado['id_familia'][df_familia_final_balanceado['id_familia'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de familia repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de familia repetidos.')

NÃ£o existem IDs de familia repetidos.

In [51]:
# 1. Identificar os IDs de famÃ­lia que se repetem
familias_repetidas = df_familia_final_balanceado['id_familia'][df_familia_final_balanceado['id_familia'].duplicated(keep=False)]

# 2. Filtrar o dataframe para mostrar todas as colunas dos casos de famÃ­lias repetidas
casos_familias_repetidas = df_familia_final_balanceado[df_familia_final_balanceado['id_familia'].isin(familias_repetidas)]

# 3. Exibir o resultado (todas as colunas dos casos repetidos)
casos_familias_repetidas.head()

Empty DataFrame
Columns: [cd_ibge, uf_ibge, regiao_ibge, estrato, classf, id_familia, vlr_renda_media_fam, cod_local_domic_fam, cod_especie_domic_fam, qtd_comodos_domic_fam, qtd_comodos_dormitorio_fam, cod_material_piso_fam, cod_material_domic_fam, cod_agua_canalizada_fam, cod_abaste_agua_domic_fam, cod_banheiro_domic_fam, cod_escoa_sanitario_domic_fam, cod_destino_lixo_domic_fam, cod_iluminacao_domic_fam, cod_calcamento_domic_fam, cod_familia_indigena_fam, ind_familia_quilombola_fam, ind_parc_mds_fam, qtde_pessoas, peso.fam, dias_cadastramento, dias_atualizacao, classe_renda]
Index: []

[0 rows x 28 columns]

In [52]:
# Ajuste para garantir que cada 'id_familia' apareÃ§a apenas uma vez no df_familia_final

# 1. Listar as colunas que queremos manter de cada dataframe original
colunas_pessoas = df_pessoas_amostra_100mil_limpa_balanceado.columns.tolist()
colunas_familia = df_fam_amostra_100mil_limpa_balanceado.columns.tolist()

# 2. Criar um dataframe para as pessoas a partir da base limpa, mantendo apenas as colunas desejadas
df_pessoas_final = df_fam_pessoas_amostra_100mil_limpa_balanceado[colunas_pessoas]

# 3. Criar um dataframe para as famÃ­lias a partir da base limpa, mantendo apenas as colunas desejadas
# Utilizar drop_duplicates para garantir que cada 'id_familia' apareÃ§a apenas uma vez
df_familia_final = df_fam_pessoas_amostra_100mil_limpa_balanceado[colunas_familia].drop_duplicates(subset=['id_familia'])

# Exibir o nÃºmero de linhas restantes apÃ³s a remoÃ§Ã£o de duplicados
print(f"NÃºmero de famÃ­lias no dataframe final: {df_familia_final.shape[0]}")

NÃºmero de famÃ­lias no dataframe final: 96792

In [53]:
# Identificar IDs de pessoa que se repetem
ids_repetidos = df_pessoas_final_balanceado['id_pessoa'][df_pessoas_final_balanceado['id_pessoa'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de pessoa repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de pessoa repetidos.')

NÃ£o existem IDs de pessoa repetidos.

In [54]:
# Exibir o nÃºmero de linhas restantes apÃ³s a limpeza da base de pessoas
print(f"NÃºmero de pessoas no dataframe final: {df_pessoas_final.shape[0]}")

NÃºmero de pessoas no dataframe final: 238402

In [55]:
# Identificar IDs de familia que se repetem
ids_repetidos = df_familia_final_balanceado['id_familia'][df_familia_final_balanceado['id_familia'].duplicated()]

# Verificar se existem IDs repetidos e exibir o resultado
if not ids_repetidos.empty:
    print(f'Existem IDs de familia repetidos. Os IDs repetidos sÃ£o:\n{ids_repetidos}')
else:
    print('NÃ£o existem IDs de familia repetidos.')

NÃ£o existem IDs de familia repetidos.

In [56]:
# Salvar o dataframe df_pessoas_amostra_100mil_limpa em um arquivo CSV com o nome desejado
df_fam_pessoas_amostra_100mil_limpa_balanceado.to_csv('../Data_balanceado/df_familia_pessoa_final_balanceado.csv', index=False)

In [57]:
# Salvando os arquivos finais de df_familia_final e df_pessoa_final
df_familia_final_balanceado.to_csv('../Data_balanceado/df_familia_final_balanceado.csv', index=False)
df_pessoas_final_balanceado.to_csv('../Data_balanceado/df_pessoas_final_balanceado.csv', index=False)

In [58]:
df_familia_final_balanceado.shape

(96792, 28)

In [59]:
df_fam_pessoas_amostra_100mil_limpa_balanceado.shape

(238402, 51)