In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Preparando a base a ser trabalhada

## Carregando as bases

In [2]:
import os
print(os.getcwd())

D:\docs_mariana\ProjetosGit\averiguacao_cadastral

In [3]:
# Load the datasets
df_fam = pd.read_csv('D:/docs_mariana/ProjetosGit/averiguacao_cadastral/Data/df_familia_final.csv', sep=',', dtype={23: 'str'})

In [4]:
df_fam.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
0,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
1,2931905,29,2,2,3,2888440,0.0,2.0,1.0,2.0,...,1.0,3.0,2.0,2.0,0.0,2,550282046697327,2646.0,151,0.0
2,3527207,35,3,2,3,2113517,713.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,2,550109644973309,5979.0,482,2.0
3,3303500,33,3,2,2,4419096,50.0,1.0,1.0,3.0,...,1.0,1.0,2.0,2.0,0.0,2,550245146328323,238.0,238,0.0
4,2800308,28,2,2,1,4241219,90.0,1.0,1.0,4.0,...,1.0,1.0,2.0,2.0,0.0,1,550245146328323,5500.0,17,0.0

In [5]:
# Load the datasets
df_pessoas = pd.read_csv('D:/docs_mariana/ProjetosGit/averiguacao_cadastral/Data/df_pessoas_final.csv', sep=',', dtype={4: 'str'})

In [6]:
df_pessoas.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,268503,2351897,2,4,3,1.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
1,268503,2578989,2,15,3,1.0,1.0,1,2,1.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277716385694
2,268503,3312847,2,13,3,1.0,1.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
3,268503,10482075,2,38,1,1.0,2.0,1,2,1.0,...,4.0,4.0,1.0,1.0,-1.0,1.0,6.0,1.0,12.0,563277716385694
4,2888440,5553031,2,5,3,4.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563263195326236

In [7]:
# Load the datasets
df_fam_pessoas = pd.read_csv('D:/docs_mariana/ProjetosGit/averiguacao_cadastral/Data/df_familia_pessoa_final.csv', sep=',', dtype={4: 'str'})

In [8]:
df_fam_pessoas.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
1,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277716385694
2,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
3,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,4.0,4.0,1.0,1.0,-1.0,1.0,6.0,1.0,12.0,563277716385694
4,2931905,29,2,2,3,2888440,0.0,2.0,1.0,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563263195326236

In [9]:
# Load the datasets
ideb_2017 = pd.read_csv('D:/docs_mariana/ProjetosGit/averiguacao_cadastral/Data/ideb_municipio_publica_2017.csv', sep=',', dtype={4: 'str'})

In [10]:
ideb_2017.head()

   Código do Município  ideb_2017_municipio
0              1100015                  6.2
1              1100023                  5.5
2              1100031                  6.1
3              1100049                  6.3
4              1100056                  6.4

## Fazendo um pipeline para criar as novas features

In [11]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer
import pandas as pd

# Função para transformar o DataFrame
def extract_rf_features(df):
    # Converter a coluna 'cod_parentesco_rf_pessoa' para inteiro
    df['cod_parentesco_rf_pessoa'] = df['cod_parentesco_rf_pessoa'].astype('int64')
    
    # Filtrar as pessoas que são responsáveis familiares
    df_rf = df[df['cod_parentesco_rf_pessoa'] == 1].copy()
    
    if df_rf.empty:
        print("Aviso: Não há responsáveis familiares após o filtro.")
        return pd.DataFrame()  # Retorna um DataFrame vazio se não houver dados

    # Agrupar pelo 'id_familia' e criar as novas colunas com base nas variáveis selecionadas
    df_rf = df_rf.groupby('id_familia').agg(
        rf_idade=('idade', 'max'),
        rf_trab_principal=('cod_principal_trab_memb', 'max'),
        rf_com_deficiencia=('cod_deficiencia_memb', 'max'),
        rf_trab_agricultura=('cod_agricultura_trab_memb', 'max'),
        rf_sexo=('cod_sexo_pessoa', 'max'),
        rf_curso_frequentou=('cod_curso_frequentou_pessoa_memb', 'max'),
        rf_curso_frequenta=('cod_curso_frequenta_memb', 'max'),
        rf_trabalhou_semana=('cod_trabalhou_memb', 'max'),
        rf_cor_raca=('cod_raca_cor_pessoa', 'max'),
        rf_concluiu_curso=('cod_concluiu_frequentou_memb', 'max')
    ).reset_index()
    
    return df_rf

# Criar um FunctionTransformer com a função definida
extract_rf_transformer = FunctionTransformer(extract_rf_features)

# Criar o pipeline com a etapa 'features_rf'
pipeline_rf = Pipeline(steps=[
    ('features_rf', extract_rf_transformer)
])

# DataFrame original
df_rf = pipeline_rf.fit_transform(df_pessoas)

# Verificar se o DataFrame transformado contém dados
df_rf.head()

,id_familia,rf_idade,rf_trab_principal,rf_com_deficiencia,rf_trab_agricultura,rf_sexo,rf_curso_frequentou,rf_curso_frequenta,rf_trabalhou_semana,rf_cor_raca,rf_concluiu_curso
0,14,20,-1.0,2,-1.0,2,8.0,-1.0,2.0,4.0,1.0
1,36,30,1.0,2,2.0,2,8.0,-1.0,1.0,4.0,2.0
2,57,20,1.0,2,2.0,2,8.0,-1.0,1.0,4.0,1.0
3,65,48,-1.0,2,-1.0,2,4.0,-1.0,2.0,4.0,1.0
4,124,23,-1.0,2,-1.0,2,8.0,-1.0,2.0,4.0,1.0

In [12]:
# Função para calcular as porcentagens de trabalho
def extract_trabalho_features(df):
    # Agrupar pelo 'id_familia' e calcular as porcentagens com base nas variáveis selecionadas
    df_trabalho = df.groupby('id_familia').apply(
        lambda x: pd.Series({
            'pct_extrativista': ((x['cod_agricultura_trab_memb'] == 1) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_conta_propria': ((x['cod_principal_trab_memb'] == 1) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_trab_rural_temporario': ((x['cod_principal_trab_memb'] == 2) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_empregado_sem_carteira': ((x['cod_principal_trab_memb'] == 3) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_empregado_com_carteira': ((x['cod_principal_trab_memb'] == 4) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_trab_domestico_sem_carteira': ((x['cod_principal_trab_memb'] == 5) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_militar_servidor': ((x['cod_principal_trab_memb'] == 8) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_trabalho_12meses_adulto': ((x['cod_trabalho_12_meses_memb'] == 1) & (x['idade'] >= 18) & (x['idade'] <= 59)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_trabalho_12meses_idoso': ((x['cod_trabalho_12_meses_memb'] == 1) & (x['idade'] >= 60)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_trabalho_12meses_crianca': ((x['cod_trabalho_12_meses_memb'] == 1) & (x['idade'] < 18)).sum() / x['qtde_pessoas'].iloc[0],
        })
    ).reset_index()
    
    return df_trabalho

# Criar um FunctionTransformer com a função definida
extract_trabalho_transformer = FunctionTransformer(extract_trabalho_features)

# Criar o pipeline com a etapa 'features_trabalho'
pipeline_trabalho = Pipeline(steps=[
    ('features_trabalho', extract_trabalho_transformer)
])

# DataFrame original
df_trabalho = pipeline_trabalho.fit_transform(df_fam_pessoas)

# Verificar se o DataFrame transformado contém dados
df_trabalho.head()

,id_familia,pct_extrativista,pct_conta_propria,pct_trab_rural_temporario,pct_empregado_sem_carteira,pct_empregado_com_carteira,pct_trab_domestico_sem_carteira,pct_militar_servidor,pct_trabalho_12meses_adulto,pct_trabalho_12meses_idoso,pct_trabalho_12meses_crianca
0,14,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0
1,36,0.0,0.50,0.0,0.0,0.0,0.0,0.0,0.500000,0.0,0.0
2,57,0.0,0.50,0.0,0.0,0.0,0.0,0.0,0.500000,0.0,0.0
3,65,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.250000,0.0,0.0
4,124,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [13]:
# Função para extrair as features de escolaridade
def extract_escola_features(df):
    # Agrupar pelo 'id_familia' e calcular as porcentagens relacionadas à escolaridade
    df_escola = df.groupby('id_familia').apply(
        lambda x: pd.Series({
            'pct_nao_alfabetizados': ((x['cod_sabe_ler_escrever_memb'] == 2) & (x['idade'] >= 10)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_n_freq_escola': ((x['ind_frequenta_escola_memb'] == 3) & (x['idade'] >= 4) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_freq_publica': ((x['ind_frequenta_escola_memb'] == 1) & (x['idade'] >= 4) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_freq_particular': ((x['ind_frequenta_escola_memb'] == 2) & (x['idade'] >= 4) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_adulto_nunca_freq_escola': ((x['ind_frequenta_escola_memb'] == 4) & (x['idade'] >= 18)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_escolar_nunca_freq_escola': ((x['ind_frequenta_escola_memb'] == 4) & (x['idade'] >= 4) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_freq_creche': ((x['cod_curso_frequenta_memb'] == 1) & (x['idade'] < 4)).sum() / x['qtde_pessoas'].iloc[0],
        })
    ).reset_index()
    
    return df_escola

# Criar um FunctionTransformer com a função definida
extract_escola_transformer = FunctionTransformer(extract_escola_features)

# Criar o pipeline com a etapa 'features_escola'
pipeline_escola = Pipeline(steps=[
    ('features_escola', extract_escola_transformer)
])

# DataFrame original
df_escola = pipeline_escola.fit_transform(df_fam_pessoas)

# Verificar se o DataFrame transformado contém dados
df_escola.head()

,id_familia,pct_nao_alfabetizados,pct_n_freq_escola,pct_freq_publica,pct_freq_particular,pct_adulto_nunca_freq_escola,pct_escolar_nunca_freq_escola,pct_freq_creche
0,14,0.333333,0.00,0.00,0.0,0.0,0.00,0.000000
1,36,0.000000,0.00,0.25,0.0,0.0,0.25,0.000000
2,57,0.000000,0.25,0.00,0.0,0.0,0.00,0.000000
3,65,0.000000,0.00,0.25,0.0,0.0,0.00,0.000000
4,124,0.000000,0.00,0.00,0.0,0.0,0.00,0.333333

In [14]:
# Função para verificar a existência da característica
def verifica_caracteristica(x, condicao):
    return 1 if condicao.any() else 0

# Função para extrair as features de composição
def extract_composicao_features(df):
    df_composicao = df.groupby('id_familia').apply(
        lambda x: pd.Series({
            'pct_idosos': (x['idade'] >= 60).sum() / x['qtde_pessoas'].iloc[0],
            'pct_deficientes': (x['cod_deficiencia_memb'] == 1).sum() / x['qtde_pessoas'].iloc[0],
            'pct_1_infancia': (x['idade'] <= 6).sum() / x['qtde_pessoas'].iloc[0],
            'pct_adulto': ((x['idade'] >= 18) & (x['idade'] < 60)).sum() / x['qtde_pessoas'].iloc[0],
            'pct_crianca_adolescente': ((x['idade'] > 6) & (x['idade'] <= 17)).sum() / x['qtde_pessoas'].iloc[0],
            'fam_gpte': verifica_caracteristica(x, (x['ind_parc_mds_fam'] != 0) | 
                                                 (x['cod_familia_indigena_fam'] == 1) | 
                                                 (x['ind_familia_quilombola_fam'] == 1))
        })
    ).reset_index()
    
    return df_composicao

# Criar um FunctionTransformer com a função definida
extract_composicao_transformer = FunctionTransformer(extract_composicao_features)

# Criar o pipeline com a etapa 'features_composicao'
pipeline_composicao = Pipeline(steps=[
    ('features_composicao', extract_composicao_transformer)
])

# DataFrame original
df_composicao = pipeline_composicao.fit_transform(df_fam_pessoas)

# Verificar se o DataFrame transformado contém dados
df_composicao.head()

,id_familia,pct_idosos,pct_deficientes,pct_1_infancia,pct_adulto,pct_crianca_adolescente,fam_gpte
0,14,0.0,0.0,0.333333,0.666667,0.00,0.0
1,36,0.0,0.0,0.250000,0.500000,0.25,0.0
2,57,0.0,0.0,0.000000,0.750000,0.25,0.0
3,65,0.0,0.0,0.000000,0.750000,0.25,0.0
4,124,0.0,0.0,0.666667,0.333333,0.00,0.0

In [15]:
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

# Criar um transformador personalizado
class FeaturesIdebTransformer(BaseEstimator, TransformerMixin):
    def __init__(self, ideb_data):
        self.ideb_data = ideb_data

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        # Realizar o merge com a base de dados do IDEB
        df_fam_ideb = X.merge(
            self.ideb_data,
            left_on='cd_ibge',
            right_on='Código do Município',
            how='left'
        )
        
        # Remover a coluna 'Código do Município'
        df_fam_ideb = df_fam_ideb.drop('Código do Município', axis=1)

        # Preencher os valores ausentes de 'ideb_2017_municipio' com -1
        df_fam_ideb['ideb_2017_municipio'].fillna(-1, inplace=True)
        
        # Selecionar apenas as colunas desejadas
        df_fam_ideb = df_fam_ideb[['id_familia', 'ideb_2017_municipio']]
        
        return df_fam_ideb

# Criar o pipeline
pipeline_ideb = Pipeline(steps=[
    ('features_ideb', FeaturesIdebTransformer(ideb_2017))
])

# Aplicar o pipeline ao DataFrame df_fam
df_ideb = pipeline_ideb.fit_transform(df_fam)

# Visualizar o resultado
print(df_ideb.head())

   id_familia  ideb_2017_municipio
0      268503                  6.3
1     2888440                  5.1
2     2113517                  5.7
3     4419096                  4.7
4     4241219                  4.6

In [16]:
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, FeatureUnion

class FeaturesDomicilioTransformer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def transform(self, X):
        # Remover as colunas indesejadas do DataFrame
        return X.drop(columns=[
            'regiao_ibge', 'estrato', 'vlr_renda_media_fam',
            'cod_especie_domic_fam', 'qtd_comodos_dormitorio_fam',
            'cod_material_domic_fam', 'cod_agua_canalizada_fam',
            'cod_abaste_agua_domic_fam', 'cod_banheiro_domic_fam',
            'cod_escoa_sanitario_domic_fam', 'cod_destino_lixo_domic_fam',
            'cod_calcamento_domic_fam', 'peso.fam'
        ])

# Criar o pipeline
pipeline_domicilio = Pipeline([
    ('features_transformer', FeaturesDomicilioTransformer())
])

# Supondo que df_fam já tenha sido carregado anteriormente
# Aplicar o pipeline ao DataFrame df_fam
df_domicilio = pipeline_domicilio.fit_transform(df_fam)

# Exibir as primeiras linhas do novo DataFrame df_domicilio
df_domicilio.head()

,cd_ibge,uf_ibge,classf,id_familia,cod_local_domic_fam,qtd_comodos_domic_fam,cod_material_piso_fam,cod_iluminacao_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,dias_cadastramento,dias_atualizacao,classe_renda
0,4212908,42,2,268503,1.0,5.0,5.0,1.0,2.0,2.0,0.0,4,5128.0,102,0.0
1,2931905,29,3,2888440,2.0,2.0,2.0,1.0,2.0,2.0,0.0,2,2646.0,151,0.0
2,3527207,35,3,2113517,1.0,5.0,5.0,1.0,2.0,2.0,0.0,2,5979.0,482,2.0
3,3303500,33,2,4419096,1.0,3.0,5.0,1.0,2.0,2.0,0.0,2,238.0,238,0.0
4,2800308,28,1,4241219,1.0,4.0,5.0,1.0,2.0,2.0,0.0,1,5500.0,17,0.0

In [17]:
import pandas as pd

# DataFrames dos pipelines sejam:
# df_rf, df_trabalho, df_escola, df_composicao, df_ideb, df_domicilio

# Realizar merge dos DataFrames
# Primeiro, iniciamos com df_rf
df_modelo = df_rf

# Merge com df_trabalho
df_modelo = df_modelo.merge(df_trabalho, on='id_familia', how='left')

# Merge com df_escola
df_modelo = df_modelo.merge(df_escola, on='id_familia', how='left')

# Merge com df_composicao
df_modelo = df_modelo.merge(df_composicao, on='id_familia', how='left')

# Merge com df_ideb
df_modelo = df_modelo.merge(df_ideb, on='id_familia', how='left')

# Merge com df_domicilio
df_modelo = df_modelo.merge(df_domicilio, on='id_familia', how='left')

# Remover duplicatas, se houver
df_modelo = df_modelo.drop_duplicates(subset=['id_familia'])

# Resetar o índice, se necessário
df_modelo.reset_index(drop=True, inplace=True)

# Verificar se o DataFrame final contém dados
df_modelo.head()

,id_familia,rf_idade,rf_trab_principal,rf_com_deficiencia,rf_trab_agricultura,rf_sexo,rf_curso_frequentou,rf_curso_frequenta,rf_trabalhou_semana,rf_cor_raca,...,qtd_comodos_domic_fam,cod_material_piso_fam,cod_iluminacao_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,dias_cadastramento,dias_atualizacao,classe_renda
0,14,20,-1.0,2,-1.0,2,8.0,-1.0,2.0,4.0,...,3.0,5.0,1.0,2.0,2.0,0.0,3,388.0,388,0.0
1,36,30,1.0,2,2.0,2,8.0,-1.0,1.0,4.0,...,4.0,5.0,1.0,2.0,2.0,0.0,4,459.0,38,0.0
2,57,20,1.0,2,2.0,2,8.0,-1.0,1.0,4.0,...,6.0,2.0,1.0,2.0,2.0,0.0,4,52.0,52,0.0
3,65,48,-1.0,2,-1.0,2,4.0,-1.0,2.0,4.0,...,6.0,5.0,1.0,2.0,2.0,0.0,4,572.0,572,0.0
4,124,23,-1.0,2,-1.0,2,8.0,-1.0,2.0,4.0,...,5.0,5.0,1.0,2.0,2.0,0.0,3,221.0,221,0.0

In [18]:
df_modelo.shape

(96502, 49)

In [19]:
df_modelo.columns

Index(['id_familia', 'rf_idade', 'rf_trab_principal', 'rf_com_deficiencia',
       'rf_trab_agricultura', 'rf_sexo', 'rf_curso_frequentou',
       'rf_curso_frequenta', 'rf_trabalhou_semana', 'rf_cor_raca',
       'rf_concluiu_curso', 'pct_extrativista', 'pct_conta_propria',
       'pct_trab_rural_temporario', 'pct_empregado_sem_carteira',
       'pct_empregado_com_carteira', 'pct_trab_domestico_sem_carteira',
       'pct_militar_servidor', 'pct_trabalho_12meses_adulto',
       'pct_trabalho_12meses_idoso', 'pct_trabalho_12meses_crianca',
       'pct_nao_alfabetizados', 'pct_n_freq_escola', 'pct_freq_publica',
       'pct_freq_particular', 'pct_adulto_nunca_freq_escola',
       'pct_escolar_nunca_freq_escola', 'pct_freq_creche', 'pct_idosos',
       'pct_deficientes', 'pct_1_infancia', 'pct_adulto',
       'pct_crianca_adolescente', 'fam_gpte', 'ideb_2017_municipio', 'cd_ibge',
       'uf_ibge', 'classf', 'cod_local_domic_fam', 'qtd_comodos_domic_fam',
       'cod_material_piso_fam', 'cod_iluminacao_domic_fam',
       'cod_familia_indigena_fam', 'ind_familia_quilombola_fam',
       'ind_parc_mds_fam', 'qtde_pessoas', 'dias_cadastramento',
       'dias_atualizacao', 'classe_renda'],
      dtype='object')

In [20]:
df_modelo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96502 entries, 0 to 96501
Data columns (total 49 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id_familia                       96502 non-null  int64
 1   rf_idade                         96502 non-null  int64
 2   rf_trab_principal                96502 non-null  float64
 3   rf_com_deficiencia               96502 non-null  int64
 4   rf_trab_agricultura              96502 non-null  float64
 5   rf_sexo                          96502 non-null  int64
 6   rf_curso_frequentou              96502 non-null  float64
 7   rf_curso_frequenta               96502 non-null  float64
 8   rf_trabalhou_semana              96502 non-null  float64
 9   rf_cor_raca                      96502 non-null  float64
 10  rf_concluiu_curso                96502 non-null  float64
 11  pct_extrativista                 96502 non-null  float64
 12  pct_conta_propria                96502 non-null  float64
 13  pct_trab_rural_temporario        96502 non-null  float64
 14  pct_empregado_sem_carteira       96502 non-null  float64
 15  pct_empregado_com_carteira       96502 non-null  float64
 16  pct_trab_domestico_sem_carteira  96502 non-null  float64
 17  pct_militar_servidor             96502 non-null  float64
 18  pct_trabalho_12meses_adulto      96502 non-null  float64
 19  pct_trabalho_12meses_idoso       96502 non-null  float64
 20  pct_trabalho_12meses_crianca     96502 non-null  float64
 21  pct_nao_alfabetizados            96502 non-null  float64
 22  pct_n_freq_escola                96502 non-null  float64
 23  pct_freq_publica                 96502 non-null  float64
 24  pct_freq_particular              96502 non-null  float64
 25  pct_adulto_nunca_freq_escola     96502 non-null  float64
 26  pct_escolar_nunca_freq_escola    96502 non-null  float64
 27  pct_freq_creche                  96502 non-null  float64
 28  pct_idosos                       96502 non-null  float64
 29  pct_deficientes                  96502 non-null  float64
 30  pct_1_infancia                   96502 non-null  float64
 31  pct_adulto                       96502 non-null  float64
 32  pct_crianca_adolescente          96502 non-null  float64
 33  fam_gpte                         96502 non-null  float64
 34  ideb_2017_municipio              96502 non-null  float64
 35  cd_ibge                          96502 non-null  int64
 36  uf_ibge                          96502 non-null  int64
 37  classf                           96502 non-null  int64
 38  cod_local_domic_fam              96502 non-null  float64
 39  qtd_comodos_domic_fam            96502 non-null  float64
 40  cod_material_piso_fam            96502 non-null  float64
 41  cod_iluminacao_domic_fam         96502 non-null  float64
 42  cod_familia_indigena_fam         96502 non-null  float64
 43  ind_familia_quilombola_fam       96502 non-null  float64
 44  ind_parc_mds_fam                 96502 non-null  float64
 45  qtde_pessoas                     96502 non-null  object
 46  dias_cadastramento               96502 non-null  float64
 47  dias_atualizacao                 96502 non-null  int64
 48  classe_renda                     96502 non-null  float64
dtypes: float64(40), int64(8), object(1)
memory usage: 36.1+ MB

In [21]:
df_modelo = df_modelo.drop(columns=['cd_ibge'])

In [22]:
df_modelo.isnull().sum().sum()

0

In [23]:
df_modelo_final = df_modelo.dropna()

In [24]:
df_modelo_final.isnull().sum().sum()

0

In [25]:
df_modelo_final.shape

(96502, 48)

In [26]:
# Salvar o DataFrame final em um arquivo, se necessário
df_modelo_final.to_csv('Data_modelo/df_modelo_final.csv', index=False)

In [27]:
df_modelo_final.head()

,id_familia,rf_idade,rf_trab_principal,rf_com_deficiencia,rf_trab_agricultura,rf_sexo,rf_curso_frequentou,rf_curso_frequenta,rf_trabalhou_semana,rf_cor_raca,...,qtd_comodos_domic_fam,cod_material_piso_fam,cod_iluminacao_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,dias_cadastramento,dias_atualizacao,classe_renda
0,14,20,-1.0,2,-1.0,2,8.0,-1.0,2.0,4.0,...,3.0,5.0,1.0,2.0,2.0,0.0,3,388.0,388,0.0
1,36,30,1.0,2,2.0,2,8.0,-1.0,1.0,4.0,...,4.0,5.0,1.0,2.0,2.0,0.0,4,459.0,38,0.0
2,57,20,1.0,2,2.0,2,8.0,-1.0,1.0,4.0,...,6.0,2.0,1.0,2.0,2.0,0.0,4,52.0,52,0.0
3,65,48,-1.0,2,-1.0,2,4.0,-1.0,2.0,4.0,...,6.0,5.0,1.0,2.0,2.0,0.0,4,572.0,572,0.0
4,124,23,-1.0,2,-1.0,2,8.0,-1.0,2.0,4.0,...,5.0,5.0,1.0,2.0,2.0,0.0,3,221.0,221,0.0