In [1]:
import pandas as pd

In [4]:
# Load the datasets
df_pessoas_amostra_100mil = pd.read_csv('../Data/df_pessoas_amostra_100mil.csv', sep=',', dtype={23: 'str'})

In [5]:
df_pessoas_amostra_100mil.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,3040671,93,2,14,3,4.0,1.0,1,2,1.0,...,NaN,NaN,NaN,2.0,2.0,NaN,NaN,2.0,NaN,563276393161791
1,1754207,143,1,35,2,4.0,2.0,2,2,1.0,...,4.0,3.0,2.0,1.0,NaN,1.0,2.0,1.0,4.0,563332227890993
2,240379,387,2,10,3,1.0,1.0,1,2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,563273550071921
3,2543057,390,2,2,3,4.0,1.0,1,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,563311829022882
4,2713914,400,1,66,2,4.0,1.0,1,2,1.0,...,4.0,4.0,1.0,2.0,2.0,NaN,NaN,2.0,NaN,563291352024917

In [6]:
df_pessoas_amostra_100mil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267140 entries, 0 to 267139
Data columns (total 24 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_familia                        267140 non-null  int64
 1   id_pessoa                         267140 non-null  int64
 2   cod_sexo_pessoa                   267140 non-null  int64
 3   idade                             267140 non-null  int64
 4   cod_parentesco_rf_pessoa          267140 non-null  int64
 5   cod_raca_cor_pessoa               267033 non-null  float64
 6   cod_local_nascimento_pessoa       266022 non-null  float64
 7   cod_certidao_registrada_pessoa    267140 non-null  int64
 8   cod_deficiencia_memb              267140 non-null  int64
 9   cod_sabe_ler_escrever_memb        267095 non-null  float64
 10  ind_frequenta_escola_memb         267091 non-null  float64
 11  cod_escola_local_memb             90103 non-null   float64
 12  cod_curso_frequenta_memb          90751 non-null   float64
 13  cod_ano_serie_frequenta_memb      72432 non-null   float64
 14  cod_curso_frequentou_pessoa_memb  138855 non-null  float64
 15  cod_ano_serie_frequentou_memb     132237 non-null  float64
 16  cod_concluiu_frequentou_memb      132239 non-null  float64
 17  cod_trabalhou_memb                177542 non-null  float64
 18  cod_afastado_trab_memb            118710 non-null  float64
 19  cod_agricultura_trab_memb         58832 non-null   float64
 20  cod_principal_trab_memb           60589 non-null   float64
 21  cod_trabalho_12_meses_memb        177509 non-null  float64
 22  qtd_meses_12_meses_memb           64103 non-null   float64
 23  peso.pes                          267140 non-null  object
dtypes: float64(16), int64(7), object(1)
memory usage: 48.9+ MB

In [7]:
df_pessoas_amostra_100mil.describe()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_ano_serie_frequenta_memb,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb
count,2.671400e+05,2.671400e+05,267140.000000,267140.000000,267140.000000,267033.000000,266022.000000,267140.000000,267140.000000,267095.000000,...,72432.000000,138855.000000,132237.000000,132239.000000,177542.000000,118710.000000,58832.000000,60589.000000,177509.000000,64103.000000
mean,2.651926e+06,6.424512e+06,1.568735,26.776956,2.326885,3.048739,1.440967,1.098196,1.949304,1.256003,...,4.309407,6.198444,3.994744,1.503248,1.668631,1.985199,1.748045,2.258001,1.638875,8.738951
std,1.519462e+06,3.716192e+06,0.495254,20.332011,1.447829,1.353354,0.503018,0.298057,0.219377,0.436424,...,2.556695,2.132190,2.086892,0.499991,0.470707,0.120755,0.434139,1.943807,0.480328,4.058443
min,1.400000e+01,9.300000e+01,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.361864e+06,3.204704e+06,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,...,2.000000,4.000000,3.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,5.000000
50%,2.655094e+06,6.425612e+06,2.000000,22.000000,3.000000,4.000000,1.000000,1.000000,2.000000,1.000000,...,4.000000,5.000000,3.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,12.000000
75%,3.959935e+06,9.646819e+06,2.000000,41.000000,3.000000,4.000000,2.000000,1.000000,2.000000,2.000000,...,6.000000,8.000000,5.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,12.000000
max,5.290648e+06,1.285253e+07,2.000000,130.000000,11.000000,5.000000,3.000000,3.000000,2.000000,2.000000,...,10.000000,15.000000,10.000000,2.000000,2.000000,2.000000,2.000000,11.000000,2.000000,12.000000

In [8]:
# Mostrando os valores nulos de cada coluna do DataFrame
valores_nulos = df_pessoas_amostra_100mil.isna().sum()

# Exibindo os resultados
print("Número de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

Número de valores nulos em cada coluna:
cod_raca_cor_pessoa                    107
cod_local_nascimento_pessoa           1118
cod_sabe_ler_escrever_memb              45
ind_frequenta_escola_memb               49
cod_escola_local_memb               177037
cod_curso_frequenta_memb            176389
cod_ano_serie_frequenta_memb        194708
cod_curso_frequentou_pessoa_memb    128285
cod_ano_serie_frequentou_memb       134903
cod_concluiu_frequentou_memb        134901
cod_trabalhou_memb                   89598
cod_afastado_trab_memb              148430
cod_agricultura_trab_memb           208308
cod_principal_trab_memb             206551
cod_trabalho_12_meses_memb           89631
qtd_meses_12_meses_memb             203037
dtype: int64

In [9]:
#como os campos relacionadas à escola que a pessoa frequenta só devem ser preenchidos caso
# a pessoa frequente escola, ou seja, tenha respondido 1 - Sim, rede pública, 2 - Sim, rede particular
# para a variável  ind_frequenta_escola_memb, identificar os campos sem preenchimento ligados a respostas
# diferentes de 1 e 2

# Filtrando os casos em que 'ind_frequenta_escola_memb' seja diferente de 1 ou de 2
filtro = df_pessoas_amostra_100mil[
    (df_pessoas_amostra_100mil['ind_frequenta_escola_memb'] != 1) &
    (df_pessoas_amostra_100mil['ind_frequenta_escola_memb'] != 2)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_escola_local_memb",
    "cod_curso_frequenta_memb",
    "cod_ano_serie_frequenta_memb"
]

# Exibe os valores únicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores únicos: {valores_unicos}")
    print("-" * 40)

Coluna: cod_escola_local_memb
Valores únicos: [nan]
----------------------------------------
Coluna: cod_curso_frequenta_memb
Valores únicos: [nan]
----------------------------------------
Coluna: cod_ano_serie_frequenta_memb
Valores únicos: [nan]
----------------------------------------

In [10]:
#Considerando a regra de preenchimento das variáveis relacionadas à escola que frequenta, que só são obrigatórias
# se a variável "ind_frequenta_escola_memb" for respondida como 1 - Sim, rede pública, 2 - Sim, rede particular,
# quando preenchimento != 1 & != 2 as variáveis relacionadas à escola que frequenta foram preenchidas
#como -1

import numpy as np

# Lista das colunas a serem preenchidas
cols_to_fill = ["cod_escola_local_memb",
    "cod_curso_frequenta_memb",
    "cod_ano_serie_frequenta_memb"
]

# Condição: "ind_frequenta_escola_memb" diferente de 1 e de 2
cond = (df_pessoas_amostra_100mil['ind_frequenta_escola_memb'] != 1) & \
    (df_pessoas_amostra_100mil['ind_frequenta_escola_memb'] != 2)

# Preenchendo os valores NaN com -1 nas colunas especificadas quando a condição for atendida
df_pessoas_amostra_100mil.loc[cond, cols_to_fill] = df_pessoas_amostra_100mil.loc[cond, cols_to_fill].fillna(-1)

# Verificar se os valores foram preenchidos corretamente
print(df_pessoas_amostra_100mil[cols_to_fill].isna().sum())  # Verifica a ausência de valores nulos

cod_escola_local_memb             661
cod_curso_frequenta_memb           13
cod_ano_serie_frequenta_memb    18332
dtype: int64

In [11]:
#Como o campo cod_ano_serie_frequenta_memb (ano e série que a pessoa frequente) só deve
# ser preenchido se pessoa frequenta algum dos cursos  4 - Ensino Fundamental regular (duração 8 anos),
# 5 - Ensino Fundamental regular (duração 9 anos), 6 - Ensino Fundamental especial,
# 7 - Ensino Médio regular ou 8 - Ensino Médio especial da pergunta cod_curso_frequenta_memb
# (curso que a pessoa frequenta), avaliar os casos de NaN do campo cod_ano_serie_frequenta_memb
# quando o campo cod_ano_serie_frequenta_memb é Nan.

# Filtrando os casos onde 'cod_ano_serie_frequenta_memb' é NaN
filtro_nan = df_pessoas_amostra_100mil['cod_ano_serie_frequenta_memb'].isna()

# Contando os valores de 'cod_curso_frequenta_memb' para os casos onde 'cod_ano_serie_frequenta_memb' é NaN
tipos_resposta = df_pessoas_amostra_100mil.loc[filtro_nan, 'cod_curso_frequenta_memb'].value_counts()

# Ordenando os resultados pelos índices (os próprios valores de 'cod_curso_frequenta_memb')
tipos_resposta = tipos_resposta.sort_index()

# Exibindo os tipos de resposta e suas quantidades
print("Tipos de respostas e suas quantidades para 'cod_curso_frequenta_memb' quando 'cod_ano_serie_frequenta_memb' é NaN:")
print(tipos_resposta)

Tipos de respostas e suas quantidades para 'cod_curso_frequenta_memb' quando 'cod_ano_serie_frequenta_memb' é NaN:
cod_curso_frequenta_memb
1.0     5560
2.0     6872
3.0     1682
9.0      321
10.0    1313
11.0     833
12.0      28
13.0    1701
14.0       9
Name: count, dtype: int64

In [12]:
#Considerando que todos os casos de Nan do campo cod_ano_serie_frequenta_memb se referem
# aos casos em que não é obrigatória a resposta, ou seja, diferente de 4, 5, 6, 7 ou 8,
# os valores NaN serão substituídos por -1

# Substituindo valores NaN na coluna 'cod_ano_serie_frequenta_memb' por -1
df_pessoas_amostra_100mil['cod_ano_serie_frequenta_memb'].fillna(-1, inplace=True)

# Contando os valores da coluna 'cod_ano_serie_frequenta_memb' após a substituição
respostas_quantidade_depois = df_pessoas_amostra_100mil['cod_ano_serie_frequenta_memb'].value_counts()

# Exibindo todas as respostas possíveis e a quantidade de cada uma após a substituição
print("\nQuantidade de cada resposta na coluna 'cod_ano_serie_frequenta_memb' após a substituição de NaN por -1:")

Quantidade de cada resposta na coluna 'cod_ano_serie_frequenta_memb' após a substituição de NaN por -1:

In [13]:
#como o preenchimento do campo 'cod_curso_frequentou_pessoa_memb'
# (Curso mais elevado que a pessoa frequentou) só é obrigatório quando
# o campo 'ind_frequenta_escola_memb' (Pessoa frequenta escola?) for respondido como
# "3 - Não, já frequentou", avaliar as respostas de 'cod_curso_frequentou_pessoa_memb'
# quando 'ind_frequenta_escola_memb' for diferente de 3

# Filtrando os casos em que 'ind_frequenta_escola_memb' seja diferente de 3
filtro = df_pessoas_amostra_100mil[(df_pessoas_amostra_100mil['ind_frequenta_escola_memb'] != 3)]

# Lista da coluna a exibir os resultados
coluna_interesse = ['cod_curso_frequentou_pessoa_memb']

# Exibe o valor único de cada coluna filtrada
for coluna in coluna_interesse:
    valores_unicos = filtro[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores únicos: {valores_unicos}")

Coluna: cod_curso_frequentou_pessoa_memb
Valores únicos: [nan]

In [14]:
#Considerando a regra de preenchimento das variáveis relacionadas ao curso que frequentou, que só é obrigatório
# se a variável "ind_frequenta_escola_memb" for respondida como "3 - Não, já frequentou",
# quando preenchimento != 3 a variável relacionada ao curso que frequentou foi preenchida como -1

# Lista da coluna a ser preenchida
col_to_fill = ["cod_curso_frequentou_pessoa_memb"]

# Condição: "ind_frequenta_escola_memb" diferente de 3
cond = (df_pessoas_amostra_100mil['ind_frequenta_escola_memb'] != 3)

# Preenchendo os valores NaN com -1 na coluna especificada quando a condição for atendida
df_pessoas_amostra_100mil.loc[cond, col_to_fill] = df_pessoas_amostra_100mil.loc[cond, col_to_fill].fillna(-1)

In [15]:
# Contando a frequência de cada valor único na coluna 'cod_curso_frequentou_pessoa_memb', incluindo NaN
frequencia_respostas = df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'].value_counts(dropna=False)

# Ordenando os resultados pelos índices (os próprios valores de 'cod_curso_frequentou_pessoa_memb')
frequencia_respostas = frequencia_respostas.sort_index()

# Exibindo os valores únicos e suas frequências
print("Frequência de cada resposta na coluna 'cod_curso_frequentou_pessoa_memb', ordenada pelos valores:")
print(frequencia_respostas)

Frequência de cada resposta na coluna 'cod_curso_frequentou_pessoa_memb', ordenada pelos valores:
cod_curso_frequentou_pessoa_memb
-1.0     128272
 1.0        104
 2.0         87
 3.0        931
 4.0      37189
 5.0      35307
 6.0       6753
 7.0        651
 8.0      51297
 9.0       1038
 10.0       568
 11.0      1069
 12.0       663
 13.0      2796
 14.0       243
 15.0       159
 NaN         13
Name: count, dtype: int64

In [16]:
#como os campos cod_ano_serie_frequentou_memb e cod_concluiu_frequentou_memb só devem ser preenchidos caso
# a pessoa frequentou algum dos cursos 4 - Ensino Fundamental 1ª a 4ª séries, Elementar (Primário), Primeira fase do 1º grau,
# 5 - Ensino Fundamental 5ª a 8ª séries, Médio 1º ciclo (Ginasial), Segunda fase do 1º grau,
# 6 - Ensino Fundamental (duração 9 anos), 7 - Ensino Fundamental Especial,
# 8 - Ensino Médio, 2º grau, Médio 2º ciclo (Científico, Clássico, Técnico, Normal),
# 9 - Ensino Médio Especial na questão anterior (cod_curso_frequentou_pessoa_memb),
# identificar os campos sem preenchimento ligados a respostas do campo anterior:

# Filtrando os casos em que 'cod_curso_frequentou_pessoa_memb' seja diferente de 4, 5, 6, 7, 8 ou 9
filtro = df_pessoas_amostra_100mil[
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 4) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 5) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 6) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 7) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 8) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 9)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_ano_serie_frequentou_memb",
    "cod_concluiu_frequentou_memb"
]

# Exibe os valores únicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"Frequência de valores únicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_ano_serie_frequentou_memb
Frequência de valores únicos:
cod_ano_serie_frequentou_memb
NaN    134901
2.0         2
3.0         1
8.0         1
Name: count, dtype: int64
----------------------------------------
Coluna: cod_concluiu_frequentou_memb
Frequência de valores únicos:
cod_concluiu_frequentou_memb
NaN    134901
2.0         3
1.0         1
Name: count, dtype: int64
----------------------------------------

In [17]:
# Lista das colunas que queremos substituir os valores NaN por -1
colunas_para_substituir = ["cod_ano_serie_frequentou_memb", "cod_concluiu_frequentou_memb"]

# Definindo a condição para quando 'cod_curso_frequentou_pessoa_memb' não for 4, 5, 6, 7, 8 ou 9
condicao = (
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 4) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 5) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 6) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 7) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 8) &
    (df_pessoas_amostra_100mil['cod_curso_frequentou_pessoa_memb'] != 9)
)

# Substituindo os valores NaN por -1 nas colunas especificadas quando a condição é atendida
df_pessoas_amostra_100mil.loc[condicao, colunas_para_substituir] = df_pessoas_amostra_100mil.loc[condicao, colunas_para_substituir].fillna(-1)

# Verificando se os valores foram preenchidos corretamente
print("Valores substituídos nas colunas:")
for coluna in colunas_para_substituir:
    print(f"{coluna} - Valores únicos: {df_pessoas_amostra_100mil[coluna].unique()}")

Valores substituídos nas colunas:
cod_ano_serie_frequentou_memb - Valores únicos: [-1.  3.  4.  2.  8.  1.  5.  7.  6. 10.  9. nan]
cod_concluiu_frequentou_memb - Valores únicos: [-1.  2.  1.]

In [18]:
# Mostrando os valores nulos de cada coluna do DataFrame após limpeza
valores_nulos = df_pessoas_amostra_100mil.isna().sum()

# Exibindo os resultados
print("Número de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

Número de valores nulos em cada coluna:
cod_raca_cor_pessoa                    107
cod_local_nascimento_pessoa           1118
cod_sabe_ler_escrever_memb              45
ind_frequenta_escola_memb               49
cod_escola_local_memb                  661
cod_curso_frequenta_memb                13
cod_curso_frequentou_pessoa_memb        13
cod_ano_serie_frequentou_memb            2
cod_trabalhou_memb                   89598
cod_afastado_trab_memb              148430
cod_agricultura_trab_memb           208308
cod_principal_trab_memb             206551
cod_trabalho_12_meses_memb           89631
qtd_meses_12_meses_memb             203037
dtype: int64

In [19]:
#Os campos de trabalho só devem ser respondidos quando idade for maior ou igual a 14 anos. Desta forma, avaliar
# o preenchimento dos campos "cod_trabalhou_memb", "cod_afastado_trab_memb", "cod_agricultura_trab_memb",
# "cod_principal_trab_memb", "cod_trabalho_12_meses_memb", "qtd_meses_12_meses_memb", "categoria_qtd_meses" com idade
# menor que 14 anos

# Filtrando os casos em que 'idade' seja < 14
filtro = (df_pessoas_amostra_100mil['idade'] < 14)

# Lista das colunas que queremos exibir os resultados
colunas_interesse = [
    "cod_trabalhou_memb",
    "cod_afastado_trab_memb",
    "cod_agricultura_trab_memb",
    "cod_principal_trab_memb",
    "cod_trabalho_12_meses_memb",
    "qtd_meses_12_meses_memb",
]

# Exibe os valores únicos de cada coluna filtrada
for coluna in colunas_interesse:
    # Filtrando o DataFrame pelas linhas onde 'idade' < 14 e obtendo as contagens de valores
    valores_unicos = df_pessoas_amostra_100mil.loc[filtro, coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"Frequência de valores únicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_trabalhou_memb
Frequência de valores únicos:
cod_trabalhou_memb
NaN    88955
Name: count, dtype: int64
----------------------------------------
Coluna: cod_afastado_trab_memb
Frequência de valores únicos:
cod_afastado_trab_memb
NaN    88955
Name: count, dtype: int64
----------------------------------------
Coluna: cod_agricultura_trab_memb
Frequência de valores únicos:
cod_agricultura_trab_memb
NaN    88955
Name: count, dtype: int64
----------------------------------------
Coluna: cod_principal_trab_memb
Frequência de valores únicos:
cod_principal_trab_memb
NaN    88955
Name: count, dtype: int64
----------------------------------------
Coluna: cod_trabalho_12_meses_memb
Frequência de valores únicos:
cod_trabalho_12_meses_memb
NaN    88955
Name: count, dtype: int64
----------------------------------------
Coluna: qtd_meses_12_meses_memb
Frequência de valores únicos:
qtd_meses_12_meses_memb
NaN    88955
Name: count, dtype: int64
----------------------------------------

In [20]:
#Substituir todos os valores nan por -1 das colunas avaliadas quando idade <14

# Filtrando os casos em que 'idade' seja < 14
filtro = (df_pessoas_amostra_100mil['idade'] < 14)

# Lista das colunas nas quais queremos substituir os NaN
colunas_interesse = [
    "cod_trabalhou_memb",
    "cod_afastado_trab_memb",
    "cod_agricultura_trab_memb",
    "cod_principal_trab_memb",
    "cod_trabalho_12_meses_memb",
    "qtd_meses_12_meses_memb"]

# Substituindo os valores NaN por -1 nas colunas de interesse quando a condição do filtro é verdadeira
df_pessoas_amostra_100mil.loc[filtro, colunas_interesse] = df_pessoas_amostra_100mil.loc[filtro, colunas_interesse].fillna(-1)

# Mostrando os valores nulos de cada coluna do DataFrame após limpeza
valores_nulos = df_pessoas_amostra_100mil.isna().sum()

# Exibindo os resultados
print("Número de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

Número de valores nulos em cada coluna:
cod_raca_cor_pessoa                    107
cod_local_nascimento_pessoa           1118
cod_sabe_ler_escrever_memb              45
ind_frequenta_escola_memb               49
cod_escola_local_memb                  661
cod_curso_frequenta_memb                13
cod_curso_frequentou_pessoa_memb        13
cod_ano_serie_frequentou_memb            2
cod_trabalhou_memb                     643
cod_afastado_trab_memb               59475
cod_agricultura_trab_memb           119353
cod_principal_trab_memb             117596
cod_trabalho_12_meses_memb             676
qtd_meses_12_meses_memb             114082
dtype: int64

In [21]:
# O campo 'cod_afastado_trab_memb' só deve ser respondido se 'cod_trabalhou_memb'
# (Pessoa trabalhou na semana passada?) for respondido como 2 - Não)

# Filtrando os casos em que 'cod_trabalhou_memb' seja diferente de 2
filtro = df_pessoas_amostra_100mil[(df_pessoas_amostra_100mil['cod_trabalhou_memb'] != 2)]

# Lista da coluna a exibir os resultados
coluna_interesse = 'cod_afastado_trab_memb'

# Contando os valores, incluindo NaN
valores_contagem = filtro[coluna_interesse].value_counts(dropna=False)  # dropna=False inclui NaN

# Exibindo o resultado
print(f"Frequência de valores para '{coluna_interesse}' quando 'cod_trabalhou_memb' não é 2:")
print(valores_contagem)

Frequência de valores para 'cod_afastado_trab_memb' quando 'cod_trabalhou_memb' não é 2:
cod_afastado_trab_memb
-1.0    88955
 NaN    59475
Name: count, dtype: int64

In [22]:
# Substituir os valores NaN de 'cod_afastado_trab_memb' por -1 quando 'cod_trabalhou_memb' é diferente de 2

# Lista da coluna a ser preenchida
col_to_fill = ["cod_afastado_trab_memb"]

# Condição: "ind_frequenta_escola_memb" diferente de 3
cond = (df_pessoas_amostra_100mil['cod_trabalhou_memb'] != 2)

# Preenchendo os valores NaN com -1 na coluna especificada quando a condição for atendida
df_pessoas_amostra_100mil.loc[cond, col_to_fill] = df_pessoas_amostra_100mil.loc[cond, col_to_fill].fillna(-1)

In [23]:
# O campo cod_agricultura_trab_memb (É atividade extrativista? 1 - Sim e 2 - Não) e o campo
# cod_principal_trab_memb só são obrigatórios se a pessoa respondeu 1 - Sim no campo
# cod_trabalhou_memb (Pessoa trabalhou na semana passada?)
# ou cod_afastado_trab_memb (Pessoa afastada na semana passada?).

# Filtrando os casos em que campo 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' seja diferente de 1
filtro = df_pessoas_amostra_100mil[
    (df_pessoas_amostra_100mil['cod_trabalhou_memb'] != 1) &
    (df_pessoas_amostra_100mil['cod_afastado_trab_memb'] != 1)
]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["cod_agricultura_trab_memb",
"cod_principal_trab_memb"]

# Exibe os valores únicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"Frequência de valores únicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: cod_agricultura_trab_memb
Frequência de valores únicos:
cod_agricultura_trab_memb
 NaN    117596
-1.0     88955
Name: count, dtype: int64
----------------------------------------
Coluna: cod_principal_trab_memb
Frequência de valores únicos:
cod_principal_trab_memb
 NaN    117596
-1.0     88955
Name: count, dtype: int64
----------------------------------------

In [24]:
#Substituindo por -1 os valores NaN de "cod_agricultura_trab_memb" e "cod_principal_trab_memb"
# quando 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' é diferente de 1

# Definindo o filtro para casos onde 'cod_trabalhou_memb' e 'cod_afastado_trab_memb' são diferentes de 1
filtro = (df_pessoas_amostra_100mil['cod_trabalhou_memb'] != 1) & (df_pessoas_amostra_100mil['cod_afastado_trab_memb'] != 1)

# Substituindo os valores NaN das colunas 'cod_agricultura_trab_memb' e 'cod_principal_trab_memb' por -1 onde o filtro é verdadeiro
df_pessoas_amostra_100mil.loc[filtro, 'cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil.loc[filtro, 'cod_agricultura_trab_memb'].fillna(-1)
df_pessoas_amostra_100mil.loc[filtro, 'cod_principal_trab_memb'] = df_pessoas_amostra_100mil.loc[filtro, 'cod_principal_trab_memb'].fillna(-1)

# Exibindo os valores únicos de cada coluna após a substituição
valores_unicos_agricultura = df_pessoas_amostra_100mil['cod_agricultura_trab_memb'].value_counts(dropna=False)
valores_unicos_principal = df_pessoas_amostra_100mil['cod_principal_trab_memb'].value_counts(dropna=False)

print("Frequência de valores únicos na coluna 'cod_agricultura_trab_memb' após substituição de NaN por -1:")
print(valores_unicos_agricultura)
print("\nFrequência de valores únicos na coluna 'cod_principal_trab_memb' após substituição de NaN por -1:")
print(valores_unicos_principal)

Frequência de valores únicos na coluna 'cod_agricultura_trab_memb' após substituição de NaN por -1:
cod_agricultura_trab_memb
-1.0    206551
 2.0     44009
 1.0     14823
 NaN      1757
Name: count, dtype: int64

Frequência de valores únicos na coluna 'cod_principal_trab_memb' após substituição de NaN por -1:
cod_principal_trab_memb
-1.0     206551
 1.0      34809
 4.0      10574
 2.0       8016
 3.0       1853
 8.0       1658
 7.0       1477
 5.0       1095
 6.0        558
 10.0       249
 11.0       249
 9.0         51
Name: count, dtype: int64

In [25]:
# Filtrando os casos onde 'cod_agricultura_trab_memb' é igual a NaN
filtro_cod_especie = df_pessoas_amostra_100mil['cod_agricultura_trab_memb'].isna()

# Contando os valores da coluna 'cod_principal_trab_memb' apenas para o filtro aplicado
resultados_quantidade = df_pessoas_amostra_100mil.loc[filtro_cod_especie, 'cod_principal_trab_memb'].value_counts(dropna=False)

# Ordenando os resultados em ordem crescente dos índices (valores únicos)
resultados_quantidade = resultados_quantidade.sort_index()

# Exibindo os resultados ordenados
print("Resultados possíveis e quantidade de cada resposta em 'cod_principal_trab_memb' quando 'cod_agricultura_trab_memb' é NaN:")
print(resultados_quantidade)

Resultados possíveis e quantidade de cada resposta em 'cod_principal_trab_memb' quando 'cod_agricultura_trab_memb' é NaN:
cod_principal_trab_memb
1.0     783
2.0     446
3.0      31
4.0     358
5.0      31
6.0      18
7.0      61
8.0      26
10.0      1
11.0      2
Name: count, dtype: int64

In [26]:
# Considerando que a resposta de 'cod_principal_trab_memb' == 2 significa Trabalhador temporário em área rural
# Os casos de NaN para 'cod_agricultura_trab_memb' quando 'cod_principal_trab_memb' == 2 serão alterados
# para 1 - Sim. Os demais casos serão substituídos por 9 - Desconhecido.

# Definindo o filtro para casos onde 'cod_principal_trab_memb' é igual a 2
filtro = df_pessoas_amostra_100mil['cod_principal_trab_memb'] == 2

# Substituindo os valores NaN da coluna 'cod_agricultura_trab_memb' por 1 onde o filtro é verdadeiro
df_pessoas_amostra_100mil.loc[filtro, 'cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil.loc[filtro, 'cod_agricultura_trab_memb'].fillna(1)

# Substituindo os valores NaN restantes por 9 nos casos onde o filtro é falso
df_pessoas_amostra_100mil['cod_agricultura_trab_memb'] = df_pessoas_amostra_100mil['cod_agricultura_trab_memb'].fillna(9)

# Exibindo os valores únicos da coluna após a substituição
valores_unicos_agricultura = df_pessoas_amostra_100mil['cod_agricultura_trab_memb'].value_counts(dropna=False)

print("Frequência de valores únicos na coluna 'cod_agricultura_trab_memb' após substituição de NaN:")
print(valores_unicos_agricultura)

Frequência de valores únicos na coluna 'cod_agricultura_trab_memb' após substituição de NaN:
cod_agricultura_trab_memb
-1.0    206551
 2.0     44009
 1.0     15269
 9.0      1311
Name: count, dtype: int64

In [27]:
# O campo qtd_meses_12_meses_memb (Quantidade de meses trabalhados nos últimos 12 meses)
# só é obrigatório se a pessoa tiver respondido 1 - Sim  no campo cod_trabalho_12_meses_memb
#(Pessoa com trabalho remunerado em algum período nos último 12 meses)

# Filtrando os casos em que campo 'cod_trabalho_12_meses_memb' seja diferente de 1
filtro = df_pessoas_amostra_100mil[
    (df_pessoas_amostra_100mil['cod_trabalho_12_meses_memb'] != 1)
]

# Lista da coluna que queremos exibir os resultados
coluna_interesse = ["qtd_meses_12_meses_memb"]

# Exibe os valores únicos de cada coluna filtrada
for coluna in coluna_interesse:
    valores_unicos = filtro[coluna].value_counts(dropna=False)
    print(f"Coluna: {coluna}")
    print(f"Frequência de valores únicos:\n{valores_unicos}")
    print("-" * 40)

Coluna: qtd_meses_12_meses_memb
Frequência de valores únicos:
qtd_meses_12_meses_memb
 NaN    114082
-1.0     88955
Name: count, dtype: int64
----------------------------------------

In [28]:
#Substituindo por -1 os valores NaN de "qtd_meses_12_meses_memb"
# quando 'cod_trabalho_12_meses_memb' é diferente de 1

# Definindo o filtro para casos onde 'cod_trabalho_12_meses_memb' é diferente de 1
filtro = (df_pessoas_amostra_100mil['cod_trabalho_12_meses_memb'] != 1)

# Substituindo os valores NaN da coluna 'qtd_meses_12_meses_memb' por -1 onde o filtro é verdadeiro
df_pessoas_amostra_100mil.loc[filtro, 'qtd_meses_12_meses_memb'] = df_pessoas_amostra_100mil.loc[filtro, 'qtd_meses_12_meses_memb'].fillna(-1)


# Exibindo os valores únicos da coluna após a substituição
valores_unicos_meses = df_pessoas_amostra_100mil['qtd_meses_12_meses_memb'].value_counts(dropna=False)


print("Frequência de valores únicos na coluna 'qtd_meses_12_meses_memb' após substituição de NaN por -1:")
print(valores_unicos_meses)

Frequência de valores únicos na coluna 'qtd_meses_12_meses_memb' após substituição de NaN por -1:
qtd_meses_12_meses_memb
-1.0     203037
 12.0     33920
 1.0       4152
 10.0      4090
 2.0       3952
 6.0       3917
 3.0       3724
 5.0       2921
 4.0       2622
 8.0       1853
 7.0       1239
 9.0        955
 11.0       758
Name: count, dtype: int64

In [29]:
# Mostrando os valores nulos de cada coluna do DataFrame após limpeza
valores_nulos = df_pessoas_amostra_100mil.isna().sum()

# Exibindo os resultados
print("Número de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

Número de valores nulos em cada coluna:
cod_raca_cor_pessoa                  107
cod_local_nascimento_pessoa         1118
cod_sabe_ler_escrever_memb            45
ind_frequenta_escola_memb             49
cod_escola_local_memb                661
cod_curso_frequenta_memb              13
cod_curso_frequentou_pessoa_memb      13
cod_ano_serie_frequentou_memb          2
cod_trabalhou_memb                   643
cod_trabalho_12_meses_memb           676
dtype: int64

In [30]:
# Calculando o percentual de valores NaN em cada coluna
percentual_nan = df_pessoas_amostra_100mil.isna().mean() * 100

# Exibindo o percentual de valores NaN por coluna
print("Percentual de valores NaN em cada coluna do df_pessoas_amostra_100mil:")
print(percentual_nan)

Percentual de valores NaN em cada coluna do df_pessoas_amostra_100mil:
id_familia                          0.000000
id_pessoa                           0.000000
cod_sexo_pessoa                     0.000000
idade                               0.000000
cod_parentesco_rf_pessoa            0.000000
cod_raca_cor_pessoa                 0.040054
cod_local_nascimento_pessoa         0.418507
cod_certidao_registrada_pessoa      0.000000
cod_deficiencia_memb                0.000000
cod_sabe_ler_escrever_memb          0.016845
ind_frequenta_escola_memb           0.018342
cod_escola_local_memb               0.247436
cod_curso_frequenta_memb            0.004866
cod_ano_serie_frequenta_memb        0.000000
cod_curso_frequentou_pessoa_memb    0.004866
cod_ano_serie_frequentou_memb       0.000749
cod_concluiu_frequentou_memb        0.000000
cod_trabalhou_memb                  0.240698
cod_afastado_trab_memb              0.000000
cod_agricultura_trab_memb           0.000000
cod_principal_trab_memb             0.000000
cod_trabalho_12_meses_memb          0.253051
qtd_meses_12_meses_memb             0.000000
peso.pes                            0.000000
dtype: float64

In [31]:
# Considernado que as linhas com valores NaN remanescentes não foram associadas a nenhuma 
# regra de preenchimento do cadastro único e que são pouco representativas no universo da 
# amostra, optpu-se por excluir os valores NaN remanescentes da base de famílias

# Excluir todas as linhas com algum valor NaN
df_pessoas_amostra_100mil_limpa = df_pessoas_amostra_100mil.dropna()

# Mostrando os valores nulos de cada coluna do DataFrame após limpeza
valores_nulos = df_pessoas_amostra_100mil_limpa.isna().sum()

# Exibindo os resultados
print("Número de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

Número de valores nulos em cada coluna:
Series([], dtype: int64)

In [32]:
df_pessoas_amostra_100mil_limpa.shape

(264528, 24)

In [35]:
# Load the datasets familia
df_fam_amostra_100mil_limpa = pd.read_csv('../Data/df_fam_amostra_100mil_limpa.csv')

In [36]:
#juntando as duas bases
# Realizar o merge das duas bases usando a chave 'id_familia'
df_fam_pessoas_amostra_100mil_limpa = pd.merge(df_fam_amostra_100mil_limpa, df_pessoas_amostra_100mil_limpa, 
                     on='id_familia', 
                     how='inner')

In [37]:
df_fam_pessoas_amostra_100mil_limpa.shape

(264363, 51)

In [38]:
df_fam_pessoas_amostra_100mil_limpa.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
1,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277716385694
2,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
3,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,4.0,4.0,1.0,1.0,-1.0,1.0,6.0,1.0,12.0,563277716385694
4,2931905,29,2,2,3,2888440,0.0,2.0,1.0,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563263195326236

In [39]:
df_fam_pessoas_amostra_100mil_limpa.columns

Index(['cd_ibge', 'uf_ibge', 'regiao_ibge', 'estrato', 'classf', 'id_familia',
       'vlr_renda_media_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam',
       'qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam',
       'cod_material_piso_fam', 'cod_material_domic_fam',
       'cod_agua_canalizada_fam', 'cod_abaste_agua_domic_fam',
       'cod_banheiro_domic_fam', 'cod_escoa_sanitario_domic_fam',
       'cod_destino_lixo_domic_fam', 'cod_iluminacao_domic_fam',
       'cod_calcamento_domic_fam', 'cod_familia_indigena_fam',
       'ind_familia_quilombola_fam', 'ind_parc_mds_fam', 'qtde_pessoas',
       'peso.fam', 'dias_cadastramento', 'dias_atualizacao', 'classe_renda',
       'id_pessoa', 'cod_sexo_pessoa', 'idade', 'cod_parentesco_rf_pessoa',
       'cod_raca_cor_pessoa', 'cod_local_nascimento_pessoa',
       'cod_certidao_registrada_pessoa', 'cod_deficiencia_memb',
       'cod_sabe_ler_escrever_memb', 'ind_frequenta_escola_memb',
       'cod_escola_local_memb', 'cod_curso_frequenta_memb',
       'cod_ano_serie_frequenta_memb', 'cod_curso_frequentou_pessoa_memb',
       'cod_ano_serie_frequentou_memb', 'cod_concluiu_frequentou_memb',
       'cod_trabalhou_memb', 'cod_afastado_trab_memb',
       'cod_agricultura_trab_memb', 'cod_principal_trab_memb',
       'cod_trabalho_12_meses_memb', 'qtd_meses_12_meses_memb', 'peso.pes'],
      dtype='object')

In [40]:
# Avaliando se alguma família ficou com o número de pessoas menor do que o previsto no campo qtd_pessoas

# 1. Contar o número de IDs de pessoas diferentes para cada 'id_familia'
contagem_pessoas = df_fam_pessoas_amostra_100mil_limpa.groupby('id_familia')['id_pessoa'].nunique().reset_index()

# Renomear a coluna para algo mais descritivo
contagem_pessoas.rename(columns={'id_pessoa': 'num_id_pessoas'}, inplace=True)

# 2. Juntar os dados da contagem com o dataframe original
# Supondo que 'qtde_pessoas' esteja no mesmo dataframe e corresponda ao 'id_familia'
resultado_comparacao = pd.merge(contagem_pessoas, df_fam_pessoas_amostra_100mil_limpa[['id_familia', 'qtde_pessoas']],
                                 on='id_familia', how='left')

# 3. Comparar os valores
resultado_comparacao['diferenca'] = resultado_comparacao['qtde_pessoas'] - resultado_comparacao['num_id_pessoas']

# Exibir os resultados
print(resultado_comparacao[['id_familia', 'qtde_pessoas', 'num_id_pessoas', 'diferenca']].head(10))

# Opcional: Analisar quantas famílias têm diferença nos números
familias_com_diferenca = resultado_comparacao[resultado_comparacao['diferenca'] != 0]
print(f"Número de famílias com diferença: {len(familias_com_diferenca)}")

   id_familia  qtde_pessoas  num_id_pessoas  diferenca
0          14             3               3          0
1          14             3               3          0
2          14             3               3          0
3          36             4               4          0
4          36             4               4          0
5          36             4               4          0
6          36             4               4          0
7          57             4               4          0
8          57             4               4          0
9          57             4               4          0
Número de famílias com diferença: 9366

In [41]:
# 1. Identificar as id_familia com diferença > 0
id_familias_com_diferenca = resultado_comparacao[resultado_comparacao['diferenca'] > 0]['id_familia']

# 2. Excluir essas id_familia do dataframe original
df_fam_pessoas_amostra_100mil_limpa = df_fam_pessoas_amostra_100mil_limpa[~df_fam_pessoas_amostra_100mil_limpa['id_familia'].isin(id_familias_com_diferenca)]

# 3. Exibir o número de linhas restantes após a exclusão
numero_linhas_restantes = df_fam_pessoas_amostra_100mil_limpa.shape[0]
print(f"Número de linhas restantes após excluir famílias com diferença > 0: {numero_linhas_restantes}")

Número de linhas restantes após excluir famílias com diferença > 0: 254997

In [42]:
#Separando novamente as duas bases

# 1. Listar as colunas que queremos manter de cada dataframe original
colunas_pessoas = df_pessoas_amostra_100mil_limpa.columns.tolist()
colunas_familia = df_fam_amostra_100mil_limpa.columns.tolist()

# 2. Criar um dataframe para as pessoas a partir da base limpa, mantendo apenas as colunas desejadas
df_pessoas_final = df_fam_pessoas_amostra_100mil_limpa[colunas_pessoas]

# 3. Criar um dataframe para as famílias a partir da base limpa, mantendo apenas as colunas desejadas
df_familia_final = df_fam_pessoas_amostra_100mil_limpa[colunas_familia]

In [43]:
df_pessoas_final.head()

,id_familia,id_pessoa,cod_sexo_pessoa,idade,cod_parentesco_rf_pessoa,cod_raca_cor_pessoa,cod_local_nascimento_pessoa,cod_certidao_registrada_pessoa,cod_deficiencia_memb,cod_sabe_ler_escrever_memb,...,cod_curso_frequentou_pessoa_memb,cod_ano_serie_frequentou_memb,cod_concluiu_frequentou_memb,cod_trabalhou_memb,cod_afastado_trab_memb,cod_agricultura_trab_memb,cod_principal_trab_memb,cod_trabalho_12_meses_memb,qtd_meses_12_meses_memb,peso.pes
0,268503,2351897,2,4,3,1.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
1,268503,2578989,2,15,3,1.0,1.0,1,2,1.0,...,-1.0,-1.0,-1.0,2.0,2.0,-1.0,-1.0,2.0,-1.0,563277716385694
2,268503,3312847,2,13,3,1.0,1.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563277716385694
3,268503,10482075,2,38,1,1.0,2.0,1,2,1.0,...,4.0,4.0,1.0,1.0,-1.0,1.0,6.0,1.0,12.0,563277716385694
4,2888440,5553031,2,5,3,4.0,2.0,1,2,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,563263195326236

In [44]:
df_familia_final.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,vlr_renda_media_fam,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
0,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
1,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
2,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
3,4212908,42,4,1,2,268503,60.0,1.0,1.0,5.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
4,2931905,29,2,2,3,2888440,0.0,2.0,1.0,2.0,...,1.0,3.0,2.0,2.0,0.0,2,550282046697327,2646.0,151,0.0

In [46]:
# Salvar o dataframe df_pessoas_amostra_100mil_limpa em um arquivo CSV com o nome desejado
df_pessoas_amostra_100mil_limpa.to_csv('../Data/df_familia_pessoa_final.csv', index=False)

In [ ]:
# Salvando os arquivos finais de df_familia_final e df_pessoa_final
df_familia_final.to_csv('../Data/df_familia_final.csv', index=False)
df_pessoas_final.to_csv('..df_pessoas_final.csv', index=False)