In [1]:
import pandas as pd

In [3]:
# Load the datasets
df_fam_amostra_100mil = pd.read_csv('../Data/df_fam_amostra_100mil.csv', sep=',', dtype={23: 'str'})

In [4]:
df_fam_amostra_100mil.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,qtd_comodos_dormitorio_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
0,4212908,42,5,1,2,268503,1.0,1.0,5.0,2.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
1,2931905,29,2,2,3,2888440,2.0,1.0,2.0,1.0,...,1.0,3.0,2.0,2.0,0.0,2,550282046697327,2646.0,151,0.0
2,3527207,35,4,2,3,2113517,1.0,1.0,5.0,2.0,...,1.0,1.0,2.0,2.0,0.0,2,550109644973309,5979.0,482,2.0
3,1501402,15,1,2,1,4747164,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,2.0,0.0,5,550249924045052,964.0,964,0.0
4,3303500,33,4,2,2,4419096,1.0,1.0,3.0,1.0,...,1.0,1.0,2.0,2.0,0.0,2,550245146328323,238.0,238,0.0

In [5]:
df_fam_amostra_100mil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   cd_ibge                        100000 non-null  int64
 1   uf_ibge                        100000 non-null  int64
 2   regiao_ibge                    100000 non-null  int64
 3   estrato                        100000 non-null  int64
 4   classf                         100000 non-null  int64
 5   id_familia                     100000 non-null  int64
 6   cod_local_domic_fam            99528 non-null   float64
 7   cod_especie_domic_fam          99528 non-null   float64
 8   qtd_comodos_domic_fam          95193 non-null   float64
 9   qtd_comodos_dormitorio_fam     95224 non-null   float64
 10  cod_material_piso_fam          95234 non-null   float64
 11  cod_material_domic_fam         95234 non-null   float64
 12  cod_agua_canalizada_fam        95234 non-null   float64
 13  cod_abaste_agua_domic_fam      95234 non-null   float64
 14  cod_banheiro_domic_fam         95234 non-null   float64
 15  cod_escoa_sanitario_domic_fam  89534 non-null   float64
 16  cod_destino_lixo_domic_fam     95234 non-null   float64
 17  cod_iluminacao_domic_fam       95234 non-null   float64
 18  cod_calcamento_domic_fam       95234 non-null   float64
 19  cod_familia_indigena_fam       100000 non-null  float64
 20  ind_familia_quilombola_fam     99484 non-null   float64
 21  ind_parc_mds_fam               96811 non-null   float64
 22  qtde_pessoas                   100000 non-null  int64
 23  peso.fam                       100000 non-null  object
 24  dias_cadastramento             100000 non-null  float64
 25  dias_atualizacao               100000 non-null  int64
 26  classe_renda                   99997 non-null   float64
dtypes: float64(18), int64(8), object(1)
memory usage: 20.6+ MB

In [6]:
# Mostrando os valores nulos de cada coluna do DataFrame
valores_nulos = df_fam_amostra_100mil.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_local_domic_fam                472
cod_especie_domic_fam              472
qtd_comodos_domic_fam             4807
qtd_comodos_dormitorio_fam        4776
cod_material_piso_fam             4766
cod_material_domic_fam            4766
cod_agua_canalizada_fam           4766
cod_abaste_agua_domic_fam         4766
cod_banheiro_domic_fam            4766
cod_escoa_sanitario_domic_fam    10466
cod_destino_lixo_domic_fam        4766
cod_iluminacao_domic_fam          4766
cod_calcamento_domic_fam          4766
ind_familia_quilombola_fam         516
ind_parc_mds_fam                  3189
classe_renda                         3
dtype: int64

In [7]:
#como os campos de condiÃ§Ã£o do domicÃ­lio sÃ³ devem ser preenchidos caso a espÃ©cie do domicilio
#seja 1- Particular permamente, identificar os campos sem preenchimento ligados a espÃ©cie
# diferente de 1

# Filtra o dataframe `df_fam_amostra_100mil` onde 'cod_especie_domic_fam' Ã© diferente de 1
filtro = df_fam_amostra_100mil[df_fam_amostra_100mil['cod_especie_domic_fam'] != 1]

# Lista das colunas que queremos exibir os resultados
colunas_interesse = ["qtd_comodos_domic_fam",
    "qtd_comodos_dormitorio_fam", "cod_material_piso_fam", "cod_material_domic_fam",
    "cod_agua_canalizada_fam", "cod_abaste_agua_domic_fam", "cod_banheiro_domic_fam",
    "cod_escoa_sanitario_domic_fam", "cod_destino_lixo_domic_fam",
    "cod_iluminacao_domic_fam", "cod_calcamento_domic_fam"
]

# Exibe os valores Ãºnicos de cada coluna filtrada
for coluna in colunas_interesse:
    valores_unicos = filtro[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores Ãºnicos: {valores_unicos}")
    print("-" * 40)

Coluna: qtd_comodos_domic_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: qtd_comodos_dormitorio_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_material_piso_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_material_domic_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_agua_canalizada_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_abaste_agua_domic_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_banheiro_domic_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_escoa_sanitario_domic_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_destino_lixo_domic_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_iluminacao_domic_fam
Valores Ãºnicos: [nan]
----------------------------------------
Coluna: cod_calcamento_domic_fam
Valores Ãºnicos: [nan]
----------------------------------------

In [8]:
#Considerando a regra de preenchimento das variÃ¡veis de condiÃ§Ã£o de moradia, que sÃ³ sÃ£o obrigatÃ³rias
# se a variÃ¡vel "cod_especie_domic_fam" for respondida como 1 - espÃ©cie de domicÃ­lio particular
# permanente, quando preenchimento != 1 as variÃ¡veis de condiÃ§Ã£o de moradia foram preenchidas
#como -1

import numpy as np

# Lista das colunas a serem preenchidas
cols_to_fill = ["qtd_comodos_domic_fam",
    "qtd_comodos_dormitorio_fam", "cod_material_piso_fam", "cod_material_domic_fam",
    "cod_agua_canalizada_fam", "cod_abaste_agua_domic_fam", "cod_banheiro_domic_fam",
    "cod_escoa_sanitario_domic_fam", "cod_destino_lixo_domic_fam", "cod_iluminacao_domic_fam",
    "cod_calcamento_domic_fam"
]

# CondiÃ§Ã£o: "cod_especie_domic_fam" diferente de 1
cond = df_fam_amostra_100mil['cod_especie_domic_fam'] != 1

# Preenchendo os valores NaN com -1 nas colunas especificadas quando a condiÃ§Ã£o for atendida
df_fam_amostra_100mil.loc[cond, cols_to_fill] = df_fam_amostra_100mil.loc[cond, cols_to_fill].fillna(-1)

# Opcional: vocÃª pode verificar se os valores foram preenchidos corretamente
print(df_fam_amostra_100mil[cols_to_fill].isna().sum())  # Verifica a ausÃªncia de valores nulos

qtd_comodos_domic_fam              41
qtd_comodos_dormitorio_fam         10
cod_material_piso_fam               0
cod_material_domic_fam              0
cod_agua_canalizada_fam             0
cod_abaste_agua_domic_fam           0
cod_banheiro_domic_fam              0
cod_escoa_sanitario_domic_fam    5700
cod_destino_lixo_domic_fam          0
cod_iluminacao_domic_fam            0
cod_calcamento_domic_fam            0
dtype: int64

In [9]:
#Como o campo escoamento sanitÃ¡rio sÃ³ deve ser preenchido se na casa hÃ¡ banheiro verificar se os casos
# de NaN em 'cod_escoa_sanitario_domic_fam' sÃ£o quando a resposta de 'cod_banheiro_domic_fam' Ã© 2 - NÃ£o

# Filtra o dataframe `df_fam_amostra_100mil` onde 'cod_banheiro_domic_fam' Ã© 2
filtro = df_fam_amostra_100mil[df_fam_amostra_100mil['cod_banheiro_domic_fam'] == 2]

# Lista das colunas que queremos exibir os resultados
coluna_interesse = [
    'cod_escoa_sanitario_domic_fam'
]

# Exibe os valores Ãºnicos da coluna filtrada
for coluna in coluna_interesse:
    valores_unicos = filtro[coluna].unique()
    print(f"Coluna: {coluna}")
    print(f"Valores Ãºnicos: {valores_unicos}")

Coluna: cod_escoa_sanitario_domic_fam
Valores Ãºnicos: [nan]

In [10]:
#Considerando a regra de preenchimento de 'cod_escoa_sanitario_domic_fam' apenas quando 'cod_banheiro_domic_fam'
# Ã© 1, e todos os casos de NaN para 'cod_escoa_sanitario_domic_fam' sÃ£o com ausÃªncia de banheiro,
# preencher os valores NaN de 'cod_escoa_sanitario_domic_fam' como -1

import numpy as np

# Lista das colunas a serem preenchidas
col_to_fill = [
    'cod_escoa_sanitario_domic_fam'
]

# CondiÃ§Ã£o: "cod_especie_domic_fam" diferente de 1
cond = df_fam_amostra_100mil['cod_banheiro_domic_fam'] == 2

# Preenchendo os valores NaN com -1 nas colunas especificadas quando a condiÃ§Ã£o for atendida
df_fam_amostra_100mil.loc[cond, col_to_fill] = df_fam_amostra_100mil.loc[cond, col_to_fill].fillna(-1)

# Opcional: vocÃª pode verificar se os valores foram preenchidos corretamente
print(df_fam_amostra_100mil[col_to_fill].isna().sum())  # Verifica a ausÃªncia de valores nulos

cod_escoa_sanitario_domic_fam    0
dtype: int64

In [11]:
# Mostrando os valores nulos de cada coluna do DataFrame apÃ³s limpeza
valores_nulos = df_fam_amostra_100mil.isna().sum()

# Exibindo os resultados
print("NÃºmero de valores nulos em cada coluna:")
print(valores_nulos[valores_nulos > 0])  # Exibe apenas as colunas com valores nulos

NÃºmero de valores nulos em cada coluna:
cod_local_domic_fam            472
cod_especie_domic_fam          472
qtd_comodos_domic_fam           41
qtd_comodos_dormitorio_fam      10
ind_familia_quilombola_fam     516
ind_parc_mds_fam              3189
classe_renda                     3
dtype: int64

In [27]:
#Considerando que 'ind_familia_quilombola_fam' sÃ³ deve ser preenchida se 'cod_familia_indigena_fam'
# for 2 - NÃ£o, verificar a situaÃ§Ã£o dos valores NaN de 'ind_familia_quilombola_fam'

# Filtra o dataframe `df_fam_amostra_100mil` onde 'ind_familia_quilombola_fam' Ã© NaN
filtro = df_fam_amostra_100mil[df_fam_amostra_100mil['ind_familia_quilombola_fam'].isna()]

# Lista da coluna de interesse
coluna_interesse = 'cod_familia_indigena_fam'

# Exibe os valores da coluna filtrada
print("Valores de 'cod_familia_indigena_fam' quando 'ind_familia_quilombola_fam' Ã© NaN:")
print(filtro[coluna_interesse].value_counts(dropna=False))

Valores de 'cod_familia_indigena_fam' quando 'ind_familia_quilombola_fam' Ã© NaN:
cod_familia_indigena_fam
1.0    516
Name: count, dtype: int64

In [28]:
#Considerando a regra de preenchimento da coluna 'ind_familia_quilombola_fam' que sÃ³ Ã© obrigatÃ³ria
# se a variÃ¡vel "cod_familia_indigena_fam" for respondida como 2 - NÃ£o, quando preenchimento
# for 1 - Sim para famÃ­lia indÃ­gena, as variÃ¡veis de 'ind_familia_quilombola_fam' NaN foram preenchidas
#como 2 - NÃ£o, ou seja, famÃ­lias nÃ£o quilombolas

# Lista das colunas a serem preenchidas
col_to_fill = ['ind_familia_quilombola_fam']

# CondiÃ§Ã£o: "cod_familia_indigena_fam" for igual a 1
cond = df_fam_amostra_100mil['cod_familia_indigena_fam'] == 1

# Preenchendo os valores NaN com 2 na coluna especificada quando a condiÃ§Ã£o for atendida
df_fam_amostra_100mil.loc[cond, col_to_fill] = df_fam_amostra_100mil.loc[cond, col_to_fill].fillna(2)

# Opcional: vocÃª pode verificar se os valores foram preenchidos corretamente
print(df_fam_amostra_100mil[col_to_fill].isna().sum())  # Verifica a ausÃªncia de valores nulos

ind_familia_quilombola_fam    0
dtype: int64

In [29]:
# Avaliando as respostas diferentes para a coluna 'ind_familia_quilombola_fam'

# Valores Ãºnicos na coluna e suas contagens
respostas_diferentes = df_fam_amostra_100mil['ind_familia_quilombola_fam'].value_counts(dropna=False)

# Exibindo os valores diferentes e suas respectivas contagens
print(respostas_diferentes)

ind_familia_quilombola_fam
2.0    99395
1.0      605
Name: count, dtype: int64

In [30]:
# Avaliar as colunas com valores ausentes apÃ³s a limpeza inicial
colunas_com_ausentes = df_fam_amostra_100mil.isnull().sum()

# Filtrar as colunas que possuem valores ausentes
colunas_com_ausentes = colunas_com_ausentes[colunas_com_ausentes > 0]

# Exibir as colunas e a quantidade de valores ausentes
print(colunas_com_ausentes)

cod_local_domic_fam            472
cod_especie_domic_fam          472
qtd_comodos_domic_fam           41
qtd_comodos_dormitorio_fam      10
ind_parc_mds_fam              3189
classe_renda                     3
dtype: int64

In [31]:
#Avaliando os dados de 'cod_local_domic_fam' e 'cod_especie_domic_fam'
# CondiÃ§Ã£o: 'cod_local_domic_fam' Ã© NaN
cond = df_fam_amostra_100mil['cod_local_domic_fam'].isna()

# Exibe os registros filtrados para inspeÃ§Ã£o
print("Primeiros registros onde 'cod_local_domic_fam' Ã© NaN:")
print(df_fam_amostra_100mil.loc[cond, ['cod_local_domic_fam', 'cod_especie_domic_fam']].head(10))

Primeiros registros onde 'cod_local_domic_fam' Ã© NaN:
      cod_local_domic_fam  cod_especie_domic_fam
308                   NaN                    NaN
555                   NaN                    NaN
608                   NaN                    NaN
839                   NaN                    NaN
907                   NaN                    NaN
1274                  NaN                    NaN
1586                  NaN                    NaN
1809                  NaN                    NaN
1860                  NaN                    NaN
1870                  NaN                    NaN

In [32]:
# Verifica quantos desses registros tÃªm 'cod_especie_domic_fam' como NaN tambÃ©m
num_na_cod_especie = df_fam_amostra_100mil.loc[cond, 'cod_especie_domic_fam'].isna().sum()
print(f"NÃºmero de registros com 'cod_especie_domic_fam' como NaN quando 'cod_local_domic_fam' Ã© NaN: {num_na_cod_especie}")

NÃºmero de registros com 'cod_especie_domic_fam' como NaN quando 'cod_local_domic_fam' Ã© NaN: 472

In [33]:
# Os valores nulos remanescentes podem estar relacionados Ã s famÃ­lias em condiÃ§Ã£o de rua,
# pois o bloco 2 - caracterÃ­sticas do domicÃ­lio nÃ£o Ã© preenchido para estes casos, conforme
# orientaÃ§Ã£o contida no manual do entrevistador "CADASTRAMENTO DIFERENCIADO: NÃ£o preencha este
# bloco para pessoas que estejam em situaÃ§Ã£o de rua". Assim, serÃ¡ criado um cÃ³digo "outros"
# para tentar capturar esta condiÃ§Ã£o, usando o valor 9 para as duas variÃ¡veis "cod_local_domic_fam"
# e "cod_especie_domic_fam"

# CondiÃ§Ã£o: 'cod_local_domic_fam' Ã© NaN
cond = df_fam_amostra_100mil['cod_local_domic_fam'].isna()

# Substitui os valores NaN em 'cod_local_domic_fam' e 'cod_especie_domic_fam' por 9
df_fam_amostra_100mil.loc[cond, ['cod_local_domic_fam', 'cod_especie_domic_fam']] = df_fam_amostra_100mil.loc[cond, ['cod_local_domic_fam', 'cod_especie_domic_fam']].fillna(9)

# Verifica se a substituiÃ§Ã£o foi bem-sucedida
print("Valores Ãºnicos em 'cod_local_domic_fam' apÃ³s substituiÃ§Ã£o:")
print(df_fam_amostra_100mil['cod_local_domic_fam'].unique())

print("\nValores Ãºnicos em 'cod_especie_domic_fam' apÃ³s substituiÃ§Ã£o:")
print(df_fam_amostra_100mil['cod_especie_domic_fam'].unique())

Valores Ãºnicos em 'cod_local_domic_fam' apÃ³s substituiÃ§Ã£o:
[1. 2. 9.]

Valores Ãºnicos em 'cod_especie_domic_fam' apÃ³s substituiÃ§Ã£o:
[1. 2. 3. 9.]

In [34]:
# Avaliar as colunas com valores ausentes remanescentes apÃ³s a limpeza
colunas_com_ausentes = df_fam_amostra_100mil.isnull().sum()

# Filtrar as colunas que possuem valores ausentes
colunas_com_ausentes = colunas_com_ausentes[colunas_com_ausentes > 0]

# Exibir as colunas e a quantidade de valores ausentes
print(colunas_com_ausentes)

qtd_comodos_domic_fam           41
qtd_comodos_dormitorio_fam      10
ind_parc_mds_fam              3189
classe_renda                     3
dtype: int64

In [35]:
# Preenchendo as colunas 'qtd_comodos_domic_fam' e 'qtd_comodos_dormitorio_fam' com -1
# onde 'cod_especie_domic_fam' Ã© igual a 9 pois neste caso nÃ£o Ã© obrigatÃ³rio o preenchimento

# CondiÃ§Ã£o: 'cod_especie_domic_fam' Ã© igual a 9
cond = df_fam_amostra_100mil['cod_especie_domic_fam'] == 9

# Preenchendo as colunas especificadas com -1 quando a condiÃ§Ã£o Ã© atendida
df_fam_amostra_100mil.loc[cond, ['qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam']] = -1

In [36]:
# Avaliar as colunas com valores ausentes remanescentes apÃ³s a limpeza
colunas_com_ausentes = df_fam_amostra_100mil.isnull().sum()

# Filtrar as colunas que possuem valores ausentes
colunas_com_ausentes = colunas_com_ausentes[colunas_com_ausentes > 0]

# Exibir as colunas e a quantidade de valores ausentes
print(colunas_com_ausentes)

qtd_comodos_domic_fam           41
qtd_comodos_dormitorio_fam      10
ind_parc_mds_fam              3189
classe_renda                     3
dtype: int64

In [37]:
# Avaliando as respostas diferentes para a coluna 'ind_parc_mds_fam' (GPTEs)

# Valores Ãºnicos na coluna e suas contagens
respostas_diferentes = df_fam_amostra_100mil['ind_parc_mds_fam'].value_counts(dropna=False)

# Exibindo os valores diferentes e suas respectivas contagens
print(respostas_diferentes)

ind_parc_mds_fam
0.0      88183
205.0     5514
NaN       3189
202.0      933
301.0      560
204.0      491
306.0      474
303.0      221
201.0      197
305.0       94
304.0       63
203.0       35
101.0       33
302.0       13
Name: count, dtype: int64

In [38]:
# Avaliando o que aparece em 'ind_parc_mds_fam'
# quando 'ind_familia_quilombola_fam' Ã© igual a 1
# e quando 'cod_familia_indigena_fam' Ã© igual a 1

# Filtrando os casos onde 'ind_familia_quilombola_fam' Ã© igual a 1
cond_quilombola = df_fam_amostra_100mil['ind_familia_quilombola_fam'] == 1
valores_quilombola = df_fam_amostra_100mil.loc[cond_quilombola, 'ind_parc_mds_fam']

# Filtrando os casos onde 'cod_familia_indigena_fam' Ã© igual a 1
cond_indigena = df_fam_amostra_100mil['cod_familia_indigena_fam'] == 1
valores_indigena = df_fam_amostra_100mil.loc[cond_indigena, 'ind_parc_mds_fam']

# Contagem dos valores para 'ind_parc_mds_fam' quando 'ind_familia_quilombola_fam' Ã© igual a 1
contagem_quilombola = valores_quilombola.value_counts(dropna=False)  # Inclui NaN

# Contagem dos valores para 'ind_parc_mds_fam' quando 'cod_familia_indigena_fam' Ã© igual a 1
contagem_indigena = valores_indigena.value_counts(dropna=False)  # Inclui NaN

# Exibindo os resultados
print("Contagem de 'ind_parc_mds_fam' quando 'ind_familia_quilombola_fam' Ã© igual a 1:")
print(contagem_quilombola)

print("\nContagem de 'ind_parc_mds_fam' quando 'cod_familia_indigena_fam' Ã© igual a 1:")
print(contagem_indigena)

Contagem de 'ind_parc_mds_fam' quando 'ind_familia_quilombola_fam' Ã© igual a 1:
ind_parc_mds_fam
0.0      351
205.0    165
202.0     42
201.0     15
204.0     12
NaN       11
203.0      3
301.0      3
306.0      2
304.0      1
Name: count, dtype: int64

Contagem de 'ind_parc_mds_fam' quando 'cod_familia_indigena_fam' Ã© igual a 1:
ind_parc_mds_fam
0.0      321
205.0     79
201.0     55
204.0     32
202.0     14
NaN       12
303.0      2
203.0      1
Name: count, dtype: int64

In [39]:
# Filtra o dataframe onde 'cod_especie_domic_fam' Ã© igual a 9
cond = df_fam_amostra_100mil['cod_especie_domic_fam'] == 9
valores_filtrados = df_fam_amostra_100mil.loc[cond, 'ind_parc_mds_fam']

# Conta o nÃºmero de ocorrÃªncias de cada valor em 'ind_parc_mds_fam', incluindo NaN
contagem_valores = valores_filtrados.value_counts(dropna=False)  # Inclui NaN

# Exibe os resultados
print("Contagem de 'ind_parc_mds_fam' quando 'cod_especie_domic_fam' Ã© igual a 9:")
print(contagem_valores)

Contagem de 'ind_parc_mds_fam' quando 'cod_especie_domic_fam' Ã© igual a 9:
ind_parc_mds_fam
0.0      436
306.0     23
NaN       12
304.0      1
Name: count, dtype: int64

In [40]:
# Considerando que nÃ£o foi possÃ­vel identificar uma correlaÃ§Ã£o direta de Nan em 'ind_parc_mds_fam'
# com a marcaÃ§Ã£o de indÃ­gena, quilombola, ou possÃ­vel famÃ­lia em condiÃ§Ã£o de rua marcado aqui na base como
# 9, vamos criar uma categoria outro em GPTE e marcar como 9 para tentar capturar essa exceÃ§Ã£o no modelo

# Substituir os valores NaN de 'ind_parc_mds_fam' por 9.0
df_fam_amostra_100mil['ind_parc_mds_fam'] = df_fam_amostra_100mil['ind_parc_mds_fam'].fillna(9.0)

# Opcional: verificar se ainda existem valores NaN na coluna
print(df_fam_amostra_100mil['ind_parc_mds_fam'].isna().sum())  # Deve retornar 0 se todos os NaN foram substituÃ­dos

0

In [41]:
# Avaliar as colunas com valores ausentes remanescentes apÃ³s a limpeza
colunas_com_ausentes = df_fam_amostra_100mil.isnull().sum()

# Filtrar as colunas que possuem valores ausentes
colunas_com_ausentes = colunas_com_ausentes[colunas_com_ausentes > 0]

# Exibir as colunas e a quantidade de valores ausentes
print(colunas_com_ausentes)

qtd_comodos_domic_fam         41
qtd_comodos_dormitorio_fam    10
classe_renda                   3
dtype: int64

In [42]:
# CondiÃ§Ã£o: 'qtd_comodos_domic_fam' ou 'qtd_comodos_dormitorio_fam' sÃ£o NaN
cond = df_fam_amostra_100mil['qtd_comodos_domic_fam'].isna() | df_fam_amostra_100mil['qtd_comodos_dormitorio_fam'].isna()

# Filtra os registros que atendem Ã  condiÃ§Ã£o
registros_nan = df_fam_amostra_100mil.loc[cond, ['qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam', 'cod_local_domic_fam', 'cod_especie_domic_fam']]

# Exibe o nÃºmero de registros encontrados
print(f"NÃºmero de registros com NaN em 'qtd_comodos_domic_fam' ou 'qtd_comodos_dormitorio_fam': {len(registros_nan)}")

# Verifica se hÃ¡ registros filtrados
if not registros_nan.empty:
    # Exibe os valores Ãºnicos em 'cod_local_domic_fam' e 'cod_especie_domic_fam' associados aos registros NaN
    print("\nValores Ãºnicos em 'cod_local_domic_fam' associados aos registros NaN:")
    print(registros_nan['cod_local_domic_fam'].value_counts())

    print("\nValores Ãºnicos em 'cod_especie_domic_fam' associados aos registros NaN:")
    print(registros_nan['cod_especie_domic_fam'].value_counts())
else:
    print("NÃ£o foram encontrados registros com NaN nas colunas especificadas.")

NÃºmero de registros com NaN em 'qtd_comodos_domic_fam' ou 'qtd_comodos_dormitorio_fam': 48

Valores Ãºnicos em 'cod_local_domic_fam' associados aos registros NaN:
cod_local_domic_fam
1.0    35
2.0    13
Name: count, dtype: int64

Valores Ãºnicos em 'cod_especie_domic_fam' associados aos registros NaN:
cod_especie_domic_fam
1.0    48
Name: count, dtype: int64

In [43]:
# Como nenhum valor NaN remanescente 'qtd_comodos_domic_fam' ou 'qtd_comodos_dormitorio_fam'
# parece estar associado Ã  condiÃ§Ã£o de  'cod_local_domic_fam' e 'cod_especie_domic_fam'
# que desobrigue o preenchimento, as linhas com valores NaN nas colunas 'qtd_comodos_domic_fam'
# ou 'qtd_comodos_dormitorio_fam' serÃ£o excluÃ­das

# Excluindo linhas com valores NaN nas colunas 'qtd_comodos_domic_fam' ou 'qtd_comodos_dormitorio_fam'
df_fam_amostra_100mil = df_fam_amostra_100mil.dropna(subset=['qtd_comodos_domic_fam', 'qtd_comodos_dormitorio_fam'])

In [44]:
# Avaliar as colunas com valores ausentes remanescentes apÃ³s a limpeza
colunas_com_ausentes = df_fam_amostra_100mil.isnull().sum()

# Filtrar as colunas que possuem valores ausentes
colunas_com_ausentes = colunas_com_ausentes[colunas_com_ausentes > 0]

# Exibir as colunas e a quantidade de valores ausentes
print(colunas_com_ausentes)

classe_renda    3
dtype: int64

In [45]:
#excluir linhas com classe_renda NaN

# Excluindo linhas com valores NaN na coluna classe_renda
df_fam_amostra_100mil_limpa = df_fam_amostra_100mil.dropna(subset=['classe_renda'])

In [46]:
# Avaliar as colunas com valores ausentes remanescentes apÃ³s a limpeza
colunas_com_ausentes = df_fam_amostra_100mil_limpa.isnull().sum()

# Exibir as colunas e a quantidade de valores ausentes
print(colunas_com_ausentes)

cd_ibge                          0
uf_ibge                          0
regiao_ibge                      0
estrato                          0
classf                           0
id_familia                       0
cod_local_domic_fam              0
cod_especie_domic_fam            0
qtd_comodos_domic_fam            0
qtd_comodos_dormitorio_fam       0
cod_material_piso_fam            0
cod_material_domic_fam           0
cod_agua_canalizada_fam          0
cod_abaste_agua_domic_fam        0
cod_banheiro_domic_fam           0
cod_escoa_sanitario_domic_fam    0
cod_destino_lixo_domic_fam       0
cod_iluminacao_domic_fam         0
cod_calcamento_domic_fam         0
cod_familia_indigena_fam         0
ind_familia_quilombola_fam       0
ind_parc_mds_fam                 0
qtde_pessoas                     0
peso.fam                         0
dias_cadastramento               0
dias_atualizacao                 0
classe_renda                     0
dtype: int64

In [47]:
df_fam_amostra_100mil_limpa.head()

,cd_ibge,uf_ibge,regiao_ibge,estrato,classf,id_familia,cod_local_domic_fam,cod_especie_domic_fam,qtd_comodos_domic_fam,qtd_comodos_dormitorio_fam,...,cod_iluminacao_domic_fam,cod_calcamento_domic_fam,cod_familia_indigena_fam,ind_familia_quilombola_fam,ind_parc_mds_fam,qtde_pessoas,peso.fam,dias_cadastramento,dias_atualizacao,classe_renda
0,4212908,42,5,1,2,268503,1.0,1.0,5.0,2.0,...,1.0,1.0,2.0,2.0,0.0,4,5502526707828,5128.0,102,0.0
1,2931905,29,2,2,3,2888440,2.0,1.0,2.0,1.0,...,1.0,3.0,2.0,2.0,0.0,2,550282046697327,2646.0,151,0.0
2,3527207,35,4,2,3,2113517,1.0,1.0,5.0,2.0,...,1.0,1.0,2.0,2.0,0.0,2,550109644973309,5979.0,482,2.0
3,1501402,15,1,2,1,4747164,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,2.0,0.0,5,550249924045052,964.0,964,0.0
4,3303500,33,4,2,2,4419096,1.0,1.0,3.0,1.0,...,1.0,1.0,2.0,2.0,0.0,2,550245146328323,238.0,238,0.0

In [48]:
df_fam_amostra_100mil_limpa.shape

(99949, 27)

In [49]:
df_fam_amostra_100mil_limpa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99949 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cd_ibge                        99949 non-null  int64
 1   uf_ibge                        99949 non-null  int64
 2   regiao_ibge                    99949 non-null  int64
 3   estrato                        99949 non-null  int64
 4   classf                         99949 non-null  int64
 5   id_familia                     99949 non-null  int64
 6   cod_local_domic_fam            99949 non-null  float64
 7   cod_especie_domic_fam          99949 non-null  float64
 8   qtd_comodos_domic_fam          99949 non-null  float64
 9   qtd_comodos_dormitorio_fam     99949 non-null  float64
 10  cod_material_piso_fam          99949 non-null  float64
 11  cod_material_domic_fam         99949 non-null  float64
 12  cod_agua_canalizada_fam        99949 non-null  float64
 13  cod_abaste_agua_domic_fam      99949 non-null  float64
 14  cod_banheiro_domic_fam         99949 non-null  float64
 15  cod_escoa_sanitario_domic_fam  99949 non-null  float64
 16  cod_destino_lixo_domic_fam     99949 non-null  float64
 17  cod_iluminacao_domic_fam       99949 non-null  float64
 18  cod_calcamento_domic_fam       99949 non-null  float64
 19  cod_familia_indigena_fam       99949 non-null  float64
 20  ind_familia_quilombola_fam     99949 non-null  float64
 21  ind_parc_mds_fam               99949 non-null  float64
 22  qtde_pessoas                   99949 non-null  int64
 23  peso.fam                       99949 non-null  object
 24  dias_cadastramento             99949 non-null  float64
 25  dias_atualizacao               99949 non-null  int64
 26  classe_renda                   99949 non-null  float64
dtypes: float64(18), int64(8), object(1)
memory usage: 21.4+ MB

In [50]:
# Salvando a amostra de 1.000 linhas no arquivo CSV apÃ³s limpeza
df_fam_amostra_100mil_limpa.to_csv('df_fam_amostra_100mil_limpa.csv', index=False)